@import '@mixins';

.leaveReview {
  @include flex(row, flex-end);
  position: absolute;
  right: 0;
  top: 40px;

  @include tablet {
    top: 1px;
  }

  button {
    @include flex();

    h3 {
      text-decoration: underline;
    }
  }
}
