@import '@mixins';

.categoryCreate {
  margin: 65px auto 0 auto;

  & > div:first-of-type {
    @include flexGap(24px, column);

    label {
      @include flexGap(18px);
      font-family: Mulish;
      font-weight: 400;
      font-size: 24px;
      line-height: 136%;
      letter-spacing: 0%;
      color: #000000;

      input {
        opacity: 0;
        position: absolute;
      }
    }
  }

  @include tablet {
    margin: 36px 40px 0 208px;

    & > div:first-of-type {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include deskmin {
    margin: 36px auto;
  }

  @include deskmax {
    margin: 90px auto;
    width: 986px;

    & > div:first-of-type {
      width: 686px;
    }
  }
}
