@import '@mixins';

.adminLayout {
  display: flex;
  box-sizing: border-box;
  width: 280px;
  margin-inline: auto;

  @include mobile {
    width: 340px;
  }

  @include tablet {
    width: 768px;
  }

  @include deskmin {
    margin: 0;
    width: 100%;
  }
}
