@import '@mixins';

.productsWrapper {
  width: 100%;

  .bottom {
    @include flex(column);
    gap: 10px;
    margin-top: 100%;
    margin-bottom: 100px;

    p {
      font-family: $font-main;
      font-size: $font-size-base;
      font-weight: 300;
      line-height: 20.48px;
      color: #3b3c37;
    }

    button {
      font-family: $font-main;
      font-size: 20px;
      font-weight: $font-weight-medium;
      line-height: $line-height-base;
      width: 306px;
      height: 56px;
      border-radius: 2px;
      border: 1px solid $second-background-color-black;
      transition: 0.3s ease-out;
      cursor: pointer;

      &:hover {
        background-color: $second-background-color-black;
        color: #f8f8f9;
      }
    }
  }
}
