@import '@mixins';

.wrapRating {
  @include flex(row, flex-start, center);
  .arrStar {
    @include flex(row, flex-start, center);
    height: 24px;
    gap: 4px;
    padding: 0px;
    list-style: none;
    li {
      @include flex(row, center, center);
      width: 20px;
      height: 20px;
    }
  }
  .total {
    @include flex(row, center, center);
    width: 38px;
    height: 24px;
    color: rgb(192, 192, 192);
    font-family: $font-second;
    font-size: font-size-base;
    font-weight: $font-weight-base;
    line-height: 1.44;
  }
}
