@import '@mixins';

.yellowButtonWrapper {
  position: fixed;
  top: 74.5%;
  right: 0;
  z-index: 3;

  .buttonsSection {
    .questionButton {
      background-color: #f9ae1a;
      cursor: pointer;
      width: 20px;
      height: 32px;
      border-radius: 8px 0 0 8px;
      border: none;
      color: $text-color-black;
      font-family: $font-second;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      line-height: 17.92px;
    }

    .needHelpButton {
      width: 159px;
      height: 32px;
      position: absolute;
      right: 0;

      font-family: $font-second;
      font-size: $font-size-small;
      font-weight: $font-weight-base;
      line-height: 17.92px;
      color: $text-color-black;

      background-color: #f9ae1a;
      cursor: pointer;

      border-radius: 2px 0 0 2px;
      border: none;
      @include showCloseAnimation();

      .triangle {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 8px 4px 0 8px;
        border-color: #cd9505 transparent transparent transparent;
        transform: rotate(0deg);
        position: absolute;
        bottom: -24%;
        right: -2.5%;
      }
    }

    .closeAnimation {
      @include showCloseAnimation('close');
    }
  }

  .communicationButtons {
    @include flex(column, null, null);
    position: absolute;
    bottom: -130px;
    right: 18px;

    @include showCloseAnimation('show', 375%);

    .telegramIcon {
      cursor: pointer;
      margin-bottom: -7px;
    }

    .phoneIcon {
      cursor: pointer;
    }
  }

  .closeAnimation {
    @include showCloseAnimation('close', 375%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
}
