@import '@mixins';

.bannerEdit {
  margin: 65px auto 0 auto;

  @include tablet {
    margin: 36px 40px 0 208px;
  }

  @include deskmin {
    margin: 36px auto;
    width: 686px;
  }

  @include deskmax {
    margin: 90px auto;
    width: 986px;
  }
}
