@import '@mixins';

.partnerInfo {
  @include flex(column, space-between, start);
  gap: 16px;
  padding: 20px 50px;
  height: 68vh;
  width: 318px;
  box-sizing: border-box;
  background: #000000cc;
  position: absolute;
  top: 100px;
  right: 0;
  @include showCloseAnimation();

  @include tablet {
    top: 105px;
  }

  @include deskmin {
    width: 388px;
    padding: 10vh 50px 10vh 40px;
    gap: 32px;
    top: 110px;
  }

  @include deskmax {
    top: 115px;
  }

  &.hiddenAnimation {
    @include showCloseAnimation('close');
  }

  .workScheduleSection {
    @include flexGap(8px, column);
  }

  h2,
  h3,
  h4 {
    color: white;
  }

  button {
    min-height: 56px;
    transition: 0.5s ease-out;
    border: 2px solid $text-color-light;
    color: $text-color-light;
    transition: 300ms ease-out;

    &:hover {
      background-color: $background-color-light;
      color: $text-color-black;
      border: none;

      a {
        width: 100%;
        h3 {
          color: $text-color-black;
        }
      }
    }
  }
}
