@import '@mixins';

.homePage {
  @include flexGap(72px, column);
  width: 100vw;
  .banner {
    position: relative;
    display: block;
    min-height: 620px;
    height: 620px;

    @include tablet {
      min-height: 704px;
      height: 704px;
    }
  }
  .page {
    @include flexGap(72px, column);
    justify-content: flex-start;
    align-items: center;
    @include layout();
  }
  @include tablet {
    gap: 64px;
    .page {
      gap: 64px;
    }
  }
  @include deskmin {
    gap: 64px;
  }
  @include deskmax {
    gap: 140px;
    .page {
      gap: 140px;
      margin: 0 auto;
    }
  }
}
