@import '@mixins';

.wrapLinkBack {
  @include flex(row, flex-start, center);
  height: 20px;
  width: 100%;
  gap: 4px;
  margin-top: 25px;
  padding: 0;

  @include tablet {
    margin: 40px 0;
  }

  @include deskmin {
    margin: 32px 0;
  }

  .wrapLink {
    @include flex(row, flex-start, center);
    gap: 4px;
    .link {
      display: block;
      color: rgb(162, 162, 162);
      font-family: $font-main;
      font-size: $font-size-base;
      font-weight: 300;
      line-height: 1.28;
      transition: color 0.5s ease;
    }
  }
  .wrapLink:last-child {
    max-width: 240px;
    .link {
      display: block;
      color: $text-color-black;
      font-weight: $font-weight-base;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @include tablet {
    .wrapLink:last-child {
      width: auto;
    }
  }
}
