@import '@mixins';

// *** ProductCardPage ***
.cardPage {
  @include flex(column, flex-start, center);
  box-sizing: border-box;
  gap: 40px;
  min-width: 320px;
  max-width: 380px;
  width: 100%;
  padding: 24px 10px 96px 10px;
  height: auto;
  margin: 82px auto 0 auto;
  @include tablet {
    gap: 56px;
    width: 768px;
    padding: 48px 64px 120px 64px;
  }
  @include deskmin {
    gap: 64px;
    width: 1024px;
    padding: 48px 22px 120px 22px;
  }
  @include deskmax {
    gap: 72px;
    width: 1440px;
    padding: 48px 72px 120px 72px;
  }
}
.wrapMobile {
  // position: relative;
  @include flex(column, flex-start, center);
  width: 100%;
  height: 100%;

  @include tablet {
    display: none;
  }
}
.wrapDesk {
  display: none;
  @include tablet {
    position: relative;
    display: block;
  }
}
.topCase {
  @include flexGap(24px, column);
  width: 100%;
  @include tablet {
    align-items: center;
    gap: 32px;
  }
  @include deskmin {
    gap: 48px;
  }
  @include deskmax {
    gap: 72px;
  }
}
// *** CardMobile  CardDesk ***
.wrapItem {
  @include flexGap(24px, column);
  width: 300px;
  height: auto;
  padding: 0;
  margin: 0;
  @include mobile {
    width: 360px;
  }
  @include tablet {
    @include flexGap(24px, row);
    width: 640px;
  }
  @include deskmin {
    @include flexGap(24px, row);
    width: 980px;
  }
  @include deskmax {
    @include flexGap(134px, row);
    width: 1296px;
  }
}
.wrapOrder {
  @include flex(row, space-between, center);
}
.rightCase {
  @include mobile {
    display: none;
  }
  @include tablet {
    @include flexGap(0, column);
    justify-content: space-between;
    width: 456px;
    height: 288px;
    button {
      width: 200px;
      height: 46px;
    }
  }
  @include deskmin {
    width: 536px;
    height: 296px;
    button {
      width: 220px;
      height: 48px;
    }
  }
  @include deskmax {
    width: 638px;
    height: 416px;
    button {
      width: 248px;
      height: 56px;
    }
  }
}

.wrapProductOffer {
  @include flex(column, flex-start, center);
  box-sizing: border-box;
  gap: 40px;
  width: 100%;
  @include tablet {
    width: 640px;
  }
  @include deskmin {
    width: 980px;
  }
  @include deskmax {
    width: 1296px;
  }
}
