@import '@mixins';

.body1 {
  font-family: $font-second;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: 1.36;
  color: $text-color-black;
  text-align: justify;
  @include deskmin {
    font-size: $font-size-medium;
  }
  @include deskmax {
    font-size: 20px;
  }
}
.body2 {
  font-family: $font-second;
  font-size: $font-size-small;
  font-weight: $font-weight-base;
  line-height: 1.24;
  color: $text-color-black;
  text-align: center;
  @include deskmin {
    font-size: $font-size-base;
  }
}
.label {
  font-family: $font-main;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  line-height: 1.22;
  color: $text-color-black;
  @include deskmin {
    font-size: $font-size-base;
  }
}
