@import '@mixins';

.textareaAdmin {
  font-family: Mulish;
  font-weight: 400;
  font-size: 14px;
  line-height: 136%;
  color: #000000;

  @include mobile {
    font-size: 18px;
  }

  @include tablet {
    font-size: 20px;
    font-weight: 600;

    @include deskmax {
      font-size: 24px;
      font-weight: 400;
    }
  }

  textarea {
    font-family: Mulish;
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;
    resize: none;
    box-sizing: border-box;
    padding: 12px 24px;
    margin: 0;
    outline: none;
    width: 280px;
    border: 1px solid #a2a2a2;
    border-radius: 8px;
    height: 125px;
    color: #323232;

    &::placeholder {
      font-family: Mulish;
      font-weight: 400;
      font-size: 16px;
      line-height: 136%;
      color: #a2a2a2;
    }

    &:hover {
      border-color: #676767;

      &::placeholder {
        color: #a2a2a2;
      }
    }

    &.error {
      border: 1px solid #e31a1a;
    }

    @include mobile {
      width: 340px;
    }

    @include tablet {
      width: 100%;
      font-size: 20px;
      height: 197px;
    }

    @include deskmin {
      height: 180px;
    }

    @include deskmax {
      &::placeholder {
        font-size: 20px;
      }
    }
  }
}
