// Import styles
@import '@mixins';

// Global styles
:root {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: $font-smoothing;
  -moz-osx-font-smoothing: $moz-font-smoothing;
}

// Anchor tags
a {
  color: unset;
  text-decoration: none;

  // &:hover {
  // color: $primary-link-hover-color;
  // }
}

// Body styles
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  background-color: $background-color-light;
  color: $text-color-light;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// Unordered Lists
ul {
  padding: 0;
  margin: 0;
}

// Lists
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Paragraphs
p {
  margin: 0;
}

// Buttons
button {
  outline: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

// figure
figure {
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Banner Styles */

/* For dots */

.slick-dots {
  bottom: 10px !important;

  li {
    button {
      &::before {
        color: $text-color-black !important;
        opacity: unset !important;
        font-size: 6px !important;

        @include tablet {
          font-size: 9.6px !important;
        }
      }
    }
    &.slick-active {
      button {
        &::before {
          opacity: unset !important;
          font-size: 10px !important;

          @include tablet {
            font-size: 19px !important;
          }
        }
      }
    }
  }
}

// Remove arrows from inside page, avoid creating x scroll bar
.slick-arrow {
  display: none !important;
}
