// Import styles
@import "./styles/mixins.scss";

// Global styles
:root {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: $font-smoothing;
  -moz-osx-font-smoothing: $moz-font-smoothing;
}

// Anchor tags
a {
  // color: $primary-link-color;
  text-decoration: none;

  // &:hover {
  // color: $primary-link-hover-color;
  // }
}

// Body styles
body {
  margin: 0;
  padding: 0;
  background-color: $background-color-light;
  color: $text-color-light;
}

// Headings
h1 {
  font-size: $font-size-large;
  line-height: 1.1;
  margin: 0;
}
h2 {
  margin: 0;
}

// Unordered Lists
ul {
  padding: 0;
}

// Lists
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Paragraphs
p {
  margin: 0;
}

// figure
figure {
  margin: 0;
}

/* Banner Styles */

/* For dots */

.slick-dots {
  bottom: 56px !important;
}

.slick-dots li button::before {
  color: $text-color-black !important;
  opacity: unset !important;
  font-size: 9.6px !important;
}

.slick-dots li.slick-active button::before {
  opacity: unset !important;
  font-size: 19px !important;
}

// Remove arrows from inside page, avoid creating x scroll bar
.slick-arrow {
  display: none !important;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */
