// Import styles
@import '@mixins';

// Global styles
:root {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: $font-smoothing;
  -moz-osx-font-smoothing: $moz-font-smoothing;
}

// Anchor tags
a {
  color: unset;
  text-decoration: none;

  // &:hover {
  // color: $primary-link-hover-color;
  // }
}

// Body styles
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;

  background-color: $background-color-light;
  color: $text-color-light;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// Unordered Lists
ul {
  padding: 0;
  margin: 0;
}

// Lists
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Paragraphs
p {
  margin: 0;
}

// Buttons
button {
  outline: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

// figure
figure {
  margin: 0;
}

input {
  &:focus-visible {
    outline: none;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

//* Banner Styles start */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('/node_modules/slick-carousel/slick/fonts/slick.eot');
  src:
    url('/node_modules/slick-carousel/slick/fonts/slick.eot?#iefix') format('embedded-opentype'),
    url('/node_modules/slick-carousel/slick/fonts/slick.woff') format('woff'),
    url('/node_modules/slick-carousel/slick/fonts/slick.ttf') format('truetype'),
    url('/node_modules/slick-carousel/slick/fonts/slick.svg#slick') format('svg');

  font-display: swap;
}
/* For dots */
.slick-dots {
  bottom: 10px !important;

  li {
    button {
      &::before {
        color: $text-color-black !important;
        opacity: unset !important;
        font-size: 6px !important;

        @include tablet {
          font-size: 9.6px !important;
        }
      }
    }
    &.slick-active {
      button {
        &::before {
          opacity: unset !important;
          font-size: 10px !important;

          @include tablet {
            font-size: 19px !important;
          }
        }
      }
    }
  }
}

.admin-slider-container {
  .slick-dots {
    bottom: 10px !important;

    li {
      button {
        height: 24px !important;
        width: 24px !important;
        &::before {
          color: #b7d7b8 !important;
          opacity: unset !important;
          font-size: 24px !important;
        }
      }
      &.slick-active {
        & > button {
          &::before {
            opacity: unset !important;
            font-size: 24px !important;
            color: #4c9a4e !important;
          }
        }
      }
    }
  }
}

// Remove arrows from inside page, avoid creating x scroll bar
.slick-arrow {
  display: none !important;
}
//* Banner Styles End */

//* cropper library custom styles start
.cropper-dashed {
  border-color: #0077ff;
  opacity: 1;
}
.cropper-dashed.dashed-h {
  border-bottom-width: 2px;
  border-top-width: 2px;
}
.cropper-dashed.dashed-v {
  border-left-width: 2px;
  border-right-width: 2px;
}
.cropper-view-box {
  outline-width: 2px;
  outline-color: #0077ff;
}
.cropper-drag-box {
  border-radius: 8px;
}
.cropper-point.point-se,
.cropper-point {
  border-radius: 50%;
  opacity: 1;
  background-color: #0077ff;
  height: 10px;
  width: 10px;
}
.point-ne {
  right: -6px !important;
  top: -6px !important;
}
.point-n {
  top: -6px !important;
}
.point-nw {
  top: -6px !important;
  left: -6px !important;
}
.point-w {
  left: -6px !important;
}
.point-sw {
  bottom: -6px !important;
  left: -6px !important;
}
.point-s {
  bottom: -6px !important;
}
.point-se {
  bottom: -6px !important;
  right: -6px !important;
}
.point-e {
  right: -6px !important;
}
.point-n .cropper-line {
  background-color: red !important;
}
.cropper-center {
  display: none;
}
//* cropper library custom styles end

.search-result {
  background-color: yellow;
  border-radius: 3px;
}

.search-result-current {
  background-color: orange;
}
