@import '@mixins';

.typeCategoryItem {
  @include flex(row, space-between);
  border-bottom: 1px solid #676767;
  padding-bottom: 8px;

  div:first-of-type {
    @include flexGap(24px);

    p {
      font-family: Mulish;
      font-weight: 400;
      font-size: 16px;
      line-height: 136%;
      color: #000000;
      width: 109px;
      word-break: break-word;
    }

    p:nth-of-type(1) {
      width: 109px;
    }

    p:nth-of-type(2) {
      width: 79px;
    }
  }

  @include mobile {
    div:first-of-type {
      p:nth-of-type(2) {
        width: 109px;
      }
    }
  }

  @include tablet {
    padding-inline: 8px;
    padding-bottom: 23px;

    div:first-of-type {
      gap: 32px;

      p {
        font-size: 20px;
      }

      p:nth-of-type(1) {
        width: 150px;
      }
      p:nth-of-type(2) {
        width: 129px;
      }
    }

    div:last-of-type {
      @include flexGap(16px);
    }
  }

  @include deskmin {
    padding-inline: 17px;
    gap: 8px;

    div:first-of-type {
      gap: 8px;
      p:nth-of-type(1) {
        width: 227px;
      }

      p:nth-of-type(2) {
        width: 123px;
      }
    }
  }

  @include deskmax {
    gap: 108px;

    div:first-of-type {
      gap: 108px;

      // p:nth-of-type(2) {
      //   max-width: 280px;
      // }
    }

    div:last-of-type {
      gap: 40px;
    }
  }
}
