@import '@mixins';

.adminMessage {
  @include flex();
  box-sizing: border-box;
  width: 218px;
  min-height: 54px;
  max-height: 100vh;
  border-radius: 8px;
  padding-block: 8px;
  background-color: #6da86f;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  animation: fadeIn 300ms ease-out;
  overflow: auto;

  p {
    font-family: Mulish;
    font-weight: 400;
    font-size: 14px;
    line-height: 136%;
    text-align: center;
    color: #ffffff;
    word-break: break-all;
  }

  @include mobile {
    width: 259px;
    min-height: 80px;
    padding-block: 16px;

    p {
      font-size: 18px;
    }
  }

  @include tablet {
    width: 368px;
    min-height: 98px;

    p {
      font-size: 24px;
    }
  }

  @include deskmin {
    width: 500px;
    min-height: 120px;

    p {
      font-size: 32px;
    }
  }

  @include deskmax {
    width: 660px;
    min-height: 152px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
