@import '@mixins';

.wrapIcon {
  @include flex(row, center, center);
  width: 30px;
  height: 30px;
}
.wrapStar {
  @include flex(row, center, center);
  width: 16px;
  height: 16px;
}
.wrapHryvn {
  @include flex(row, center, center);
  width: 24px;
  height: 30px;
}
.wrapArrowLink {
  @include flex(row, center, center);
  width: 16px;
  height: 16px;
}
.wrapArrowLeft {
  @include flex(row, flex-start, center);
  width: 48px;
  height: 48px;
}
