@import '@mixins';

.dropdown {
  position: relative;
  display: inline-block;

  button {
    @include flex(row, space-between);
    cursor: pointer;
    background-color: #ffffff;
    outline: none;
    font-family: $font-main;
    font-size: $font-size-base;
    font-weight: $font-weight-small;
    line-height: 20.48px;
    width: 208px;
    height: 40px;
    border-radius: $border-radius-small;
    border: 1px solid $text-color-black;
    text-align: left;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 16px;

    img {
      transition: 0.4s;
      width: 8.72px;
      height: 4.93px;
    }
  }

  ul {
    position: absolute;
    border: 1px solid $text-color-black;
    background-color: $background-color-light;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;

    li {
      @include flex(row, null, center);
      padding-left: 24px;
      cursor: pointer;
      font-family: $font-main;
      font-size: $font-size-base;
      font-weight: $font-weight-small;
      line-height: 20.48px;
      height: 40px;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.open {
  button {
    border-bottom: none;
    border-radius: $border-radius-small 2px 0 0;
    padding-bottom: 2px;

    img {
      transition: 0.4s;
      transform: rotate(180deg);
    }
  }

  ul {
    position: absolute;
    border-top: none;
  }
}
