@import '@mixins';

.headerNavigation {
  @include flex();

  ul {
    @include flexGap(40px);

    li {
      cursor: pointer;

      font-family: $font-main;
      font-size: $font-size-medium;
      font-weight: $font-weight-medium;
      line-height: $line-height-base;
      letter-spacing: $letter-spacing-base;
      color: $header-link-color;

      transition: 0.6s;

      &:hover {
        color: $header-link-hover-color;
        text-shadow: 0.1px 0.1px 0.7px black;
      }
    }
  }
}
