@import '@mixins';

.cooperationOffer {
  @include flexGap(12px, column);

  @include tablet {
    gap: 24px;

    & > div:first-of-type {
      @include flex(row, space-between);
    }
  }

  @include deskmin {
    gap: 48px;
  }

  @include deskmax {
    & > div:first-of-type {
      width: 1076px;
      margin-inline: auto;
    }
  }
}
