@import '@mixins';

.partnerInfo {
  @include flex(column, space-between, start);
  padding: 37px 33px;
  height: 393px;
  width: 320px;
  box-sizing: border-box;
  background: #000000cc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(100%);
  opacity: 0;
  z-index: 999;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;

  &.visible {
    transform: translate(-50%, -50%) translateX(0);
    opacity: 1;
  }

  &.hiddenAnimation {
    transform: translate(-50%, -50%) translateX(100%);
    opacity: 0;
  }

  h2 {
    margin-bottom: 19px;
    align-self: flex-start !important;
  }

  h3 {
    margin-bottom: 19px;
  }

  .googleMapLink {
    @include flex(row, center, center);
    margin-top: auto;

    h3 {
      margin: 0;
    }
  }

  .workScheduleSection {
    @include flex(column, start, start);
    margin-bottom: 19px;

    h4:first-of-type {
      margin-bottom: 16px;
    }
  }

  .addressSection {
    h3 {
      margin-bottom: 8px;
    }
  }

  section:last-of-type h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  @include mobile {
    min-height: 349px;
    width: 342px;
    padding: 26px 40px;

    h2 {
      margin-bottom: 16px;
    }

    h3 {
      margin-bottom: 19px;
    }

    .workScheduleSection {
      margin-bottom: 19px;
    }
  }

  @include tablet {
    height: 411px;
    width: 318px;
    padding: 27px 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(100%);
  }

  @include deskmin {
    position: absolute;
    top: calc(100% + 16px);
    right: 0;
    left: auto;
    transform: translateX(100%);
    opacity: 0;
    width: 342px;
    height: 466px;
    padding: 50px 40px;
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;

    &.visible {
      transform: translateX(0);
      opacity: 1;
    }

    &.hiddenAnimation {
      transform: translateX(100%);
      opacity: 0;
    }

    h2 {
      margin-bottom: 32px;
    }

    h3 {
      margin-bottom: 17px;
    }

    .workScheduleSection {
      margin-bottom: 32px;
    }
  }

  @include deskmax {
    height: 590px;
    width: 388px;
    padding: 107px 40px;
    top: calc(100% + 18px);

    h2 {
      margin-bottom: 32px;
    }

    h3 {
      margin-bottom: 12px;
    }

    .workScheduleSection {
      margin-bottom: 32px;
    }
  }

  h2,
  h3,
  h4 {
    color: white;
  }

  a {
    @include flex(row, center, center);
    width: 100%;
    min-height: 56px;
    color: $text-color-light;
    transition:
      background-color 300ms ease-out,
      color 300ms ease-out;
    border: 1px solid $text-color-light;
    border-radius: $border-radius-medium;
    box-sizing: border-box;

    &:hover,
    &:active {
      background-color: $background-color-light;
      border: none;

      h3 {
        color: $text-color-black;
      }
    }
  }
}
