@import '@mixins';

.h1 {
  font-family: $font-main;
  font-size: $font-size-xlarge;
  font-weight: $font-weight-base;
  line-height: 60.48px;
  color: $background-color-black;
  max-width: 40vw;

  @include respond-medium {
    font-size: 48px;
    line-height: 51.84px;
    letter-spacing: $letter-spacing-extra-small;
  }
}
