@import '@styles/mixins.scss';

.catalogWrapper {
  width: 100%;
  padding: 0 12px;
  color: $text-color-black;
  box-sizing: border-box;
  margin-top: 75px;

  @include layout();

  @include tablet {
    margin: 75px auto 0 auto;
  }

  @include deskmin {
    margin: 144px auto 0;
  }

  .mainWrapper {
    @include flexGap(24px);
  }
}

.wrapAside {
  display: none;
  @include deskmin {
    display: block;
    padding: 0;
    margin: 0;
  }
}

.asideMobile {
  display: block;
}
