@import "../../../styles/mixins.scss";

.card {
  width: 80%;
}

.arrow {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.starsImageSection {
  @include flexRowGap(4px);

  span {
    font-family: inter;
    font-size: $font-size-base;
    line-height: 19.2px;
    color: #c0c0c0;
  }
}

.cardFooter {
  @include flex(row, space-between, center);

  h3 {
    font-family: $font-main;
    font-weight: $font-weight-bold;
    color: $text-color-black;

    font-synthesis: weight;

    @include flex(row, null, center);
    gap: 24px;
  }
}

.hryvniaSymbol {
  display: inline !important;
}
