@import "../../../styles/variables.scss";
@import "/src/styles/mixins.scss";

.card {
  width: 80%;
}

.arrow {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.starsImageSection {
  @include flexRowGap(4px);

  span {
    @include text(inter, $font-size-base, null, 19.2px, null, #c0c0c0);
  }
}

.cardFooter {
  @include flex(row, space-between, center, null);

  h3 {
    @include text($font-main, null, $font-weight-bold, null, null, #22211f);

    font-synthesis: weight;

    @include flex(row, null, center, 8px);
  }
}

.hryvniaSymbol {
  display: inline !important;
}
