@import '@mixins';

// *** ImgMobile of ProductCardPage ***
.wrapImgMobCard {
  position: relative;
  @include flexGap(24px, column);
  width: 356px;
  height: 388px;
  padding: 0;
  img {
    width: 356px;
    height: 356px;
    background-color: rgb(248, 248, 249);
    object-fit: cover;
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  img.active {
    opacity: 0;
  }
  .wrapDots {
    @include flex(row, center, flex-end);
    width: 80px;
    height: 32px;
    gap: 16px;
    margin: 0 auto;
    .dot {
      @include flex(row, center, center);
      width: 10px;
      height: 9px;
      border-radius: 50%;
      background-color: rgb(162, 162, 162);
      transition: background-color 0.5s ease;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      &.active {
        background-color: rgb(34, 33, 31);
      }
    }
  }
  @include tablet {
    display: none;
  }
}
// *** ImgDesk of ProductCardPage ***
.wrapImgDeskCard {
  @include mobile {
    display: none;
  }
  @include tablet {
    @include flexGap(12px, column);
    width: 216px;
    padding: 0;
    .wrapImgCase {
      position: relative;
      width: 216px;
      height: 230px;
      background-color: rgb(248, 248, 249);
      img {
        width: 216px;
        height: 230px;
        object-fit: cover;
      }
    }
    .wrapSmallImg {
      @include flex(row, space-between, center);
      width: 216px;
      height: 40px;
      img {
        width: 40px;
        height: 40px;
        background-color: rgb(248, 248, 249);
        object-fit: cover;
        border-radius: 2px;
        cursor: pointer;
      }
      .selected {
        box-shadow:
          0px 2px 6px 2px rgba(0, 0, 0, 0.15),
          0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        transition: box-shadow 200ms linear;
      }
    }
  }
  @include deskmin {
    @include flex(row-reverse, flex-start, center);
    width: 376px;
    height: 296px;
    gap: 24px;
    .wrapImgCase {
      width: 296px;
      height: 296px;
      img {
        width: 296px;
        height: 296px;
      }
    }
    .wrapSmallImg {
      @include flexGap(0, column);
      width: 56px;
      height: 296px;
      img {
        width: 56px;
        height: 56px;
      }
    }
  }
  @include deskmax {
    @include flex(row-reverse, flex-start, center);
    width: 526px;
    height: 416px;
    gap: 24px;
    .wrapImgCase {
      width: 416px;
      height: 416px;
      img {
        width: 416px;
        height: 416px;
      }
    }
    .wrapSmallImg {
      @include flexGap(0, column);
      width: 86px;
      height: 416px;
      img {
        width: 86px;
        height: 86px;
      }
    }
  }
}
