@import '@mixins';

.questionPopUp {
  @include flex(column, null, center);
  width: 300px;
  padding: 60px 10px;
  height: 100vh;
  max-height: 660px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color-light;
  color: #000000;
  z-index: $z-index-pop-up;
  box-sizing: border-box;
  border-radius: $border-radius-medium;
  animation: fadeIn 300ms ease-out;

  & > button:first-of-type {
    position: absolute;
    top: 23px;
    right: 23px;
  }

  .overflowWrap {
    overflow-y: auto;

    & > div:first-of-type {
      p {
        text-align: center;
        margin-top: 16px;
      }
    }

    form {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      label,
      h4 {
        @include flexGap(10px, column);
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        line-height: 23.04px;
        user-select: none;
      }

      div {
        @include flexGap(16px, column);
      }

      input {
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        border-radius: 4px;
        border: 1px solid;
      }
    }
  }

  .successMessage {
    margin: auto;
  }

  @include mobile {
    width: 346px;
    padding-inline: 34px;

    input,
    textarea {
      width: 278px;
    }
  }

  @include tablet {
    width: 684px;
    padding: 42px;
    max-height: 444px;

    .overflowWrap {
      & > div:first-of-type {
        align-self: start;

        h2 {
          text-align: start;
        }

        p {
          text-align: start;
          width: 330px;
        }
      }

      form {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        div:first-of-type {
          @include flexGap(10px, column);
          width: 278px;

          input {
            width: 100%;
          }
        }

        div:last-of-type {
          @include flexGap(10px, column);
          width: 278px;

          textarea {
            width: 100%;
            height: 123px;
          }
        }
      }
    }
  }

  @include deskmin {
    width: 980px;
    padding: 44px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 418px;

    & > button:first-of-type {
      align-self: end;
    }

    .overflowWrap {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      & > div:first-of-type {
        height: 329px;
        width: 300px;

        p {
          width: 224px;
        }
      }

      form {
        width: fit-content;
        margin: 0;
        flex-direction: column;

        div:first-of-type {
          width: fit-content;
          flex-direction: row;
          gap: 30px;

          label {
            gap: 16px;

            input {
              width: 203px;
            }
          }
        }

        div:last-of-type {
          width: 438px;
          gap: 16px;

          button {
            width: 210px;
            align-self: end;
          }
        }
      }
    }
  }

  @include deskmax {
    width: 1296px;
    padding: 95px 44px 70px;
    max-height: 500px;

    .overflowWrap {
      & > div:first-of-type {
        width: 408px;

        p {
          width: initial;
        }
      }

      form {
        width: fit-content;

        div:first-of-type {
          label {
            input {
              width: 274px;
            }
          }
        }
        div:last-of-type {
          width: 578px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
