@import '@mixins';

.whyChooseUsWrapper {
  margin-top: 18vh;
  box-sizing: border-box;
  padding: 0 5vw;

  .figuresWrapper {
    @include flex(column, center, center);
    margin-top: 76px;
    gap: 96px;

    section {
      @include flex(row, space-around, center);
      width: 100%;
      figure {
        display: flex;
        @include flex();
        gap: 10px;

        img {
          object-fit: cover;
          width: 112px;
          height: 112px;

          @include deskmim {
            height: 90px;
            width: 90px;
          }
        }

        figcaption {
          max-width: 338px;
          color: $text-color-black;
          text-wrap: balance;

          p {
            width: 90%;
          }
        }
      }
    }
  }
}
