@import '@mixins';

.whyChooseUsWrapper {
  @include flex(column, flex-start, center);
  box-sizing: border-box;
  gap: 40px;
  width: 296px;
  .figuresWrapper {
    @include flex(column, flex-start, center);
    gap: 12px;
    figure {
      box-sizing: border-box;
      @include flex(column, flex-start, center);
      gap: 16px;
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
      figcaption {
        @include flex(column, flex-start, center);
        box-sizing: border-box;
        width: 296px;
        gap: 16px;

        p {
          text-align: center;

          // @include deskmin {
          //   text-align: left;
          // }
        }
      }
    }
  }

  @include mobile {
    width: 356px;

    .figuresWrapper {
      figure {
        figcaption {
          width: 356px;
        }
      }
    }
  }

  @include tablet {
    width: 640px;
    gap: 48px;
    .figuresWrapper {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      gap: 28px;
      figure {
        width: 306px;
        height: 232px;
        gap: 8px;
        // padding: 8px 0px;

        img {
          width: 88px;
          height: 88px;
        }
        figcaption {
          width: 306px;
          height: 110px;
          gap: 8px;
          padding: 0 8px;
        }
      }
    }
  }
  @include deskmin {
    width: 980px;
    .figuresWrapper {
      figure {
        @include flex(row, flex-start, center);
        width: 476px;
        height: 158px;
        gap: 16px;
        padding: 24px;
        img {
          width: 92px;
          height: 92px;
        }
        figcaption {
          width: 320px;
        }
      }
    }
  }
  @include deskmax {
    width: 1296px;
    gap: 72px;
    .figuresWrapper {
      column-gap: 124px;
      row-gap: 64px;
      figure {
        width: 586px;
        height: 160px;
        gap: 40px;
        img {
          width: 108px;
          height: 108px;
        }
        figcaption {
          width: 390px;
          gap: 16px;
        }
      }
    }
  }
}
