@import '@mixins';

.whyChooseUsWrapper {
  margin-top: 18vh;
  box-sizing: border-box;
  padding: 0 5vw;

  h2 {
    text-align: center;
  }

  .figuresWrapper {
    @include flex(column, center, center);
    gap: 16px;
    margin-top: 76px;

    @include deskmim {
      gap: 96px;
    }

    section {
      @include flexGap(16px, column);

      @include deskmim {
        @include flex(row, space-around, center);
        width: 100%;
      }

      figure {
        @include flex(column);
        gap: 16px;

        img {
          object-fit: cover;
          height: 80px;
          width: 80px;

          @include deskmim {
            height: 90px;
            width: 90px;
          }

          @include deskmax {
            width: 112px;
            height: 112px;
          }
        }

        figcaption {
          @include flex(column);
          gap: 16px;
          max-width: 338px;
          color: $text-color-black;
          text-wrap: balance;
          text-align: center;

          p {
            width: 90%;
          }
        }
      }
    }
  }
}
