@import '@mixins';

.container {
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 36px;
  margin: 0 auto;
  overflow: hidden;

  @include flex(column);

  @include tablet {
    flex-direction: row;
    width: 640px;
    gap: 28px;
  }

  @include deskmax {
    justify-content: space-around;
    width: auto;
    gap: 22px;
  }

  li {
    padding: 0;
    margin: 0;
  }
}
