@import '@mixins';

.categories {
  @include flexGap(20px);
}

.list {
  @include flexGap(20px, column);
  color: black;

  li {
    @include flexGap(20px);
  }

  margin-bottom: 60px;
}

.categoriesManagement {
  color: black;
}
