@import '@mixins';

.promocodeCreate {
  @include flex(column, null, null);
  color: black;

  .btnWrapper {
    @include flex(column, null, null);
    margin-top: 74px;
        width: 100%;
        gap: 24px;

        button, a{
          width: 100%;;
        }
  }
}
