@import '@mixins';

.promocodeCreate {
  @include flex(column, null, null);
  color: black;

  .btnWrapper {
    @include flexGap(24px, column);
    margin-top: 74px;
        width: 280px;
       
        button, a{
          width: 100%;
          height: 54px;
        }
  }
}
