@import '@mixins';

.footerInfo {
  @include flex(column, space-around, null);
  margin-bottom: 32px;
  text-wrap: nowrap;
  height: 135px;
  width: 100%;

  @include mobile {
    width: 150px;
  }

  @include tablet {
    flex-direction: column;
    gap: 36px;
    justify-content: unset;
    margin-bottom: 0;
    margin-left: 75px;
    height: 140px;
  }

  @include deskmin {
    margin-left: 0;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    width: 412px;
    height: 57px;
  }

  @include deskmax {
    width: 564px;
    gap: 0px;
    align-items: center;
  }

  h3 {
    font-family: $font-main;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    letter-spacing: $letter-spacing-small;
    line-height: 21.76px;

    @include deskmin {
      font-size: $font-size-medium;
      line-height: $line-height-base;
    }
  }

  .workingHoursWrapper {
    @include tablet {
      margin-left: 0;
    }

    @include deskmax {
      margin-left: 60px;
    }
  }

  .liWithImg {
    position: relative;
    img {
      position: absolute;
      left: -30px;
    }
  }

  .wrapper {
    @include flexGap(16px, column);
    align-items: center;

    @include tablet {
      margin-top: unset;
      position: relative;
    }

    ul {
      @include flexGap(8px, column);
    }

    .workingHours {
      text-wrap: wrap;

      @include tablet {
        text-wrap: nowrap;
      }
    }

    img {
      @include tablet {
        height: 24px;
        width: 24px;
        position: absolute;
        left: -35px;
      }
    }
  }
}

.phoneNumberWrapper {
  margin-top: 32px;

  @include deskmax {
    margin-left: auto;
  }
}

.titleWithIcon {
  @include flexGap(16px);
  user-select: none;
}
