@import '@mixins';

.reviewsNotFound {
  @include flex(row, space-between);
  position: relative;
  margin-bottom: 45px;
  width: 100%;

  & > p:first-of-type {
    font-size: $font-size-base;
    font-family: $font-second;
    font-weight: $font-weight-base;
    line-height: 144%;
    letter-spacing: 0%;
    text-align: center;
    color: #a2a2a2;
    width: 100%;
  }
}
