@import '@mixins';

.ourPartnersWrapper {
  user-select: none;
  @include flex(column, center, center);
  position: relative;
  width: 100%;
  box-sizing: border-box;

  button {
    margin-top: 25px;
    width: 306px;
  }
}

.closeAnimation > aside {
  @include showCloseAnimation('close', 250%);
}
