@import '@mixins';

.wrapPriceCatalog {
  @include flex(row, space-between, center);
  .wrapPrice {
    @include flex(row, flex-start, center);
    width: auto;
    height: 34px;
    gap: 32px;
    .price {
      @include flex(row, flex-start, center);
      color: $text-color-black;
      font-family: $font-main;
      font-size: $font-size-medium-extra;
      line-height: 1.24;
      text-align: left;
      gap: 8px;
      .costNow {
        font-weight: 500;
      }
      .hrnBlack {
        font-weight: 400;
      }
    }
    .oldPrice {
      @include flex(row, flex-start, center);
      color: rgb(103, 103, 103);
      font-family: $font-main;
      font-size: $font-size-medium;
      font-weight: 500;
      line-height: 1.28;
      text-align: left;
      gap: 8px;
      .costOld {
        text-decoration-line: line-through;
        font-weight: 500;
      }
      .hrnGrey {
        font-weight: 400;
      }
    }
  }
  .wrapVolume {
    @include flex(row, center, center);
    width: 68px;
    height: 40px;
    color: #676767;
    font-family: $font-second;
    font-size: $font-size-medium;
    font-weight: $font-weight-base;
    line-height: 1.44;
  }
}
