@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

search {
  background-color: #ffffff;

  &.activeSearch {
    @include absolute(10px, 28px);
  }

  .searchInput {
    @include HeightWidth(40px, 300px);
    max-width: 300px;
    max-height: 40px;

    @include text(
      $font-main,
      $font-size-small,
      $font-weight-base,
      $line-height-small,
      $letter-spacing-small,
      null
    );
    background-image: url("../../../assets/svg/header/searchInSearchBar.svg");
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 38px;
    border: 1px solid #676767;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;

    &::placeholder {
      color: #676767;
    }

    &.activeSearchInput {
      border: none;
      padding-left: 12px;
      color: #676767;
      background-image: none;
    }
  }

  .searchResultsSection {
    padding: 0 12px;

    @include text(
      $font-main,
      $font-size-small,
      $font-weight-base,
      $line-height-small,
      $letter-spacing-small,
      black
    );

    hr {
      color: #c0c0c0;
    }

    .searchResultItem {
      display: flex;
      height: 64px;

      .searchResultInfo {
        margin-left: 10px;

        p {
          display: inline-block;
        }

        .searchResultPrice {
          margin-top: 10px;
        }

        .hryvniaSymbol {
          @include HeightWidth(12px, 8px);
        }
      }
    }
  }
}
