@import "../../../styles/variables.scss";

// Some styles in future

.searchInput {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: $font-size-base;
  width: 200px;
  height: 5px;
  max-width: 400px;
  margin-bottom: 20px;
}
