@import '@mixins';

.bannerBenefits {
  width: 296px;
  @include flexGap(36px, column);

  .btnSlider {
    @include flex(row, space-between, center);
    button {
      @include flex(row, center, center);
      border: none;
      outline: none;
      padding: 0;
      cursor: pointer;
      &:hover,
      &:active {
        svg {
          @include flex(row, center, center);
          rect {
            fill: rgb(34, 33, 31);
            transition: fill 0.5s ease;
          }
          path {
            stroke: #ffffff;
            transition: stroke 0.5s ease;
          }
        }
      }
      &:disabled {
        cursor: not-allowed;
        svg {
          @include flex(row, center, center);
          rect {
            fill: #f8f8f9;
            transition: fill 0.5s ease;
          }
          path {
            stroke: #22211f;
            transition: stroke 0.5s ease;
          }
        }
      }
    }
  }

  .benefit {
    @include flexGap(20px, column);
    padding: 0;
    width: 296px;
    height: 570px;
    position: relative;
    color: black;

    @include mobile {
      width: 356px;
    }

    @include tablet {
      width: 306px;
      height: 518px;
    }
    // @include flex(column, start);
    // gap: 8px;
    // width: 136px;
    // height: 360px;
    // border-radius: 32px;
    // padding: 8px;
    // background-color: #f8f8f9;
    // box-sizing: border-box;
    // margin-right: 12px;

    // p,
    // h2 {
    //   text-align: start;
    // }
  }

  @include mobile {
    width: 356px;

    .benefit {
      width: 166px;
      height: 270px;

      h2 {
        text-align: center;
      }
    }
  }
}
