@import '@mixins';

.wrapList {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 356px;
  height: auto;
  gap: 16px;
  padding: 0;
  li {
    position: relative;
    @include flex(column, flex-start, center);
    width: 356px;
    height: auto;
    gap: 16px;
    img {
      @include flex(row, center, center);
      width: 356px;
      height: 356px;
      background-color: rgb(248, 248, 249);
      object-fit: cover;
    }
  }
  @include tablet {
    width: 720px;
    justify-content: space-between;
    li {
      width: 220px;
      img {
        width: 220px;
        height: 220px;
      }
    }
  }
  @include deskmim {
    width: 960px;
  }
  @include deskmax {
    width: 1296px;
  }
}
