@import '@mixins';

.imageUploadWrapper {
  margin-top: 52px;
  @include flexGap(16px, column);

  label {
    @include flex();
    font-family: Mulish;
    font-weight: 700;
    font-size: 18px;
    line-height: 136%;
    height: 56px;
    width: 280px;
    border: 1px solid #22211f;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    border-radius: $border-radius-medium;
    transition:
      background-color 300ms ease-out,
      color 300ms ease-out;

    &:hover {
      background-color: $second-background-color-black;
      color: $text-color-light;
    }

    input {
      opacity: 0;
      height: 0;
      width: 0;
      position: absolute;
    }
  }
}

.imagesContainer {
  position: relative;

  .image {
    width: 280px;
    height: 297px;
    border-radius: 8px;

    &.error {
      border: 2px solid #e31a1a;
    }
  }
}

@include mobile {
  .imageUploadWrapper {
    @include flex(column);

    .image {
      width: 297px;
    }

    label {
      width: 297px;
    }
  }

  @include tablet {
    .imageUploadWrapper {
      gap: 40px;

      label {
        width: 427px;
        height: 65px;
      }

      .image {
        height: 427px;
        width: 427px;
      }
    }
  }

  @include deskmin {
    .imageUploadWrapper {
      margin: 0;
      gap: 16px;

      label {
        width: 297px;
      }

      .image {
        height: 297px;
        width: 297px;
      }
    }
  }

  @include deskmax {
    .imageUploadWrapper {
      gap: 40px;

      label {
        width: 427px;
      }

      .image {
        height: 427px;
        width: 427px;
      }
    }
  }
}
