@import '@mixins';

.checkboxLabel {
  @include flex();
  gap: 8px;
  cursor: pointer;
  font-family: Mulish;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  span {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .checked {
    display: none;
  }

  input:checked ~ .checked {
    display: inline;
  }

  input:checked ~ .unchecked {
    display: none;
  }
}
