@import '@mixins';

.aboutPage {
  @include flex(column);
  gap: 24px;
  padding-bottom: 24px;
  margin-inline: auto;
  width: 320px;

  figure {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 190px;

    img {
      width: 320px;
      height: 190px;
      object-fit: cover;
      transform: rotateY(180deg);
      object-position: 50% 33.5%;
    }

    figcaption {
      @include absolute(88px, 113px);

      h2 {
        text-align: start;
      }

      br {
        display: none;
      }
    }
  }

  & > section:nth-of-type(1) {
    @include flex(column);
    gap: 12px;

    div:first-of-type {
      position: relative;

      div {
        width: 174px;
        height: 161px;
        border-block-start: 0.41px solid #8fb3f2;
        border-inline-start: 0.41px solid #8fb3f2;
        position: absolute;
      }

      div:nth-of-type(1) {
        left: 8px;
      }

      div:nth-of-type(2) {
        top: 8px;
      }

      div:nth-of-type(3) {
        right: 8px;
        bottom: 0;
        rotate: 180deg;
      }

      div:nth-of-type(4) {
        bottom: 8px;
        right: 0;
        rotate: 180deg;
      }

      img {
        margin: 20px;
        width: 260px;
        height: 205px;
      }
    }

    div:last-of-type {
      @include flexGap(8px, column);
      width: 294px;

      p {
        text-align: start;
      }
    }
  }

  & > section:nth-of-type(2) {
    @include flex(column);
    gap: 12px;

    img {
      width: 296px;
      height: 166.5px;
    }

    div {
      @include flexGap(8px, column);
      width: 294px;

      p {
        text-align: start;
      }
    }
  }

  & > div:nth-of-type(1) {
    @include flex(column);
    gap: 20px;

    & > img {
      display: none;
    }

    section {
      @include flex(column);
      gap: 12px;
      width: 296px;
      height: 236px;
      border-radius: 8px;
      padding: 24px 12px;
      background-color: #f8f8f9;
      box-sizing: border-box;

      h3 {
        @include flex();
        gap: 8px;

        img {
          height: 24px;
          width: 24px;
        }
      }

      p {
        width: 272px;
      }
    }
  }

  @include mobile {
    width: 380px;

    figure {
      width: 380px;
      height: 226px;

      img {
        width: 380px;
        height: 226px;
      }

      figcaption {
        width: 208px;
        top: 115px;
        left: 153px;
      }
    }

    & > section:nth-of-type(1) {
      div:first-of-type {
        div {
          width: 207px;
          height: 192px;
        }

        div:nth-of-type(1) {
          left: 10px;
        }

        div:nth-of-type(2) {
          top: 10px;
        }

        div:nth-of-type(3) {
          right: 10px;
        }

        div:nth-of-type(4) {
          bottom: 10px;
        }

        img {
          width: 308px;
          height: 244px;
          margin: 24px;
        }
      }

      div:last-of-type {
        width: 356px;
      }
    }

    & > section:nth-of-type(2) {
      img {
        width: 356px;
        height: 200.25px;
      }

      div {
        width: 356px;
      }
    }

    & > div:nth-of-type(1) {
      section {
        width: 356px;
        height: 204px;

        p {
          width: 332px;
        }
      }
    }
  }

  @include tablet {
    width: 768px;
    gap: 60px;
    padding-bottom: 60px;

    figure {
      width: 768px;
      height: 462px;

      img {
        width: 768px;
        height: 462px;
        scale: 1.22;
        object-position: 50% 41%;
      }

      figcaption {
        width: auto;
        top: 220px;
        left: 283px;

        br {
          display: inline;
        }
      }
    }

    & > section:nth-of-type(1) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: initial;
      gap: 24px;

      h2 {
        width: 320px;
        margin-right: 24px;
      }

      div:first-of-type {
        order: 3;

        div {
          width: 323px;
          height: 299px;
        }

        div:nth-of-type(1) {
          left: 15px;
        }

        div:nth-of-type(2) {
          top: 15px;
        }

        div:nth-of-type(3) {
          right: 15px;
        }

        div:nth-of-type(4) {
          bottom: 15px;
        }

        img {
          width: 480px;
          height: 380px;
          margin: 38px;
        }
      }

      div:last-of-type {
        gap: 24px;
        width: 324px;
      }
    }

    & > section:nth-of-type(2) {
      display: grid;
      row-gap: 48px;
      column-gap: 24px;
      justify-items: center;

      h2 {
        width: 336px;
      }

      img {
        grid-area: 1/2 / 3;
        width: 336px;
        height: 350px;
      }

      div {
        gap: 24px;
        width: 336px;
      }
    }

    & > div:nth-of-type(1) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      position: relative;
      overflow: hidden;

      & > img {
        display: block;
        position: absolute;
      }

      // TODO make proper design for the image
      & > img:last-of-type {
        transform: rotate(35deg);
        width: 738px;
        height: 1025px;
        z-index: -1;
        opacity: 0.4;
        bottom: -162px;
        left: 100px;
      }

      section {
        width: 314px;
        height: 256px;
        padding-block: 0;
        justify-content: start;

        h3 {
          gap: 24px;

          img {
            height: 40px;
            width: 40px;
          }
        }
      }

      section:nth-of-type(1) {
        clip-path: polygon(
          100% 52.094%,
          100% 52.094%,
          99.94% 53.566%,
          99.767% 54.983%,
          99.488% 56.337%,
          99.112% 57.618%,
          98.647% 58.817%,
          98.101% 59.926%,
          97.483% 60.934%,
          96.8% 61.833%,
          96.06% 62.613%,
          95.273% 63.266%,
          95.273% 63.266%,
          93.078% 65.034%,
          90.982% 67.077%,
          88.995% 69.381%,
          87.125% 71.933%,
          85.38% 74.718%,
          83.769% 77.723%,
          82.299% 80.933%,
          80.98% 84.334%,
          79.82% 87.912%,
          78.826% 91.654%,
          78.826% 91.654%,
          78.448% 93.036%,
          77.991% 94.338%,
          77.462% 95.542%,
          76.865% 96.634%,
          76.206% 97.6%,
          75.491% 98.424%,
          74.726% 99.091%,
          73.916% 99.586%,
          73.066% 99.894%,
          72.182% 100%,
          6.362% 100%,
          6.362% 100%,
          5.33% 99.858%,
          4.351% 99.448%,
          3.438% 98.791%,
          2.605% 97.91%,
          1.863% 96.828%,
          1.227% 95.566%,
          0.71% 94.147%,
          0.324% 92.593%,
          0.083% 90.926%,
          0% 89.17%,
          0% 10.986%,
          0% 10.986%,
          0.083% 9.229%,
          0.324% 7.563%,
          0.71% 6.009%,
          1.227% 4.59%,
          1.863% 3.328%,
          2.605% 2.245%,
          3.438% 1.364%,
          4.351% 0.708%,
          5.33% 0.297%,
          6.362% 0.155%,
          93.638% 0.155%,
          93.638% 0.155%,
          94.67% 0.297%,
          95.649% 0.708%,
          96.562% 1.364%,
          97.395% 2.245%,
          98.137% 3.328%,
          98.773% 4.59%,
          99.29% 6.009%,
          99.676% 7.563%,
          99.917% 9.229%,
          100% 10.986%,
          100% 52.094%
        );
      }

      section:nth-of-type(2) {
        clip-path: polygon(
          0% 52.187%,
          0% 52.187%,
          0.06% 53.656%,
          0.233% 55.07%,
          0.512% 56.422%,
          0.888% 57.7%,
          1.353% 58.898%,
          1.899% 60.004%,
          2.517% 61.01%,
          3.2% 61.907%,
          3.94% 62.686%,
          4.727% 63.338%,
          4.727% 63.338%,
          6.922% 65.102%,
          9.018% 67.141%,
          11.005% 69.441%,
          12.875% 71.988%,
          14.62% 74.768%,
          16.231% 77.766%,
          17.701% 80.97%,
          19.02% 84.364%,
          20.18% 87.936%,
          21.174% 91.67%,
          21.174% 91.67%,
          21.552% 93.05%,
          22.009% 94.349%,
          22.538% 95.551%,
          23.135% 96.641%,
          23.794% 97.605%,
          24.509% 98.427%,
          25.274% 99.093%,
          26.084% 99.587%,
          26.934% 99.894%,
          27.818% 100%,
          93.638% 100%,
          93.638% 100%,
          94.67% 99.859%,
          95.649% 99.449%,
          96.562% 98.794%,
          97.395% 97.914%,
          98.137% 96.834%,
          98.773% 95.575%,
          99.29% 94.158%,
          99.676% 92.607%,
          99.917% 90.944%,
          100% 89.191%,
          100% 11.159%,
          100% 11.159%,
          99.917% 9.406%,
          99.676% 7.743%,
          99.29% 6.192%,
          98.773% 4.775%,
          98.137% 3.516%,
          97.395% 2.435%,
          96.562% 1.556%,
          95.649% 0.901%,
          94.67% 0.491%,
          93.638% 0.35%,
          6.362% 0.35%,
          6.362% 0.35%,
          5.33% 0.491%,
          4.351% 0.901%,
          3.438% 1.556%,
          2.605% 2.435%,
          1.863% 3.516%,
          1.227% 4.775%,
          0.71% 6.192%,
          0.324% 7.743%,
          0.083% 9.406%,
          0% 11.159%,
          0% 52.187%
        );
      }

      section:nth-of-type(3) {
        clip-path: polygon(
          100% 48.062%,
          100% 48.062%,
          99.94% 46.59%,
          99.767% 45.173%,
          99.488% 43.819%,
          99.112% 42.538%,
          98.647% 41.338%,
          98.101% 40.23%,
          97.483% 39.221%,
          96.8% 38.323%,
          96.06% 37.542%,
          95.273% 36.889%,
          95.273% 36.889%,
          93.078% 35.122%,
          90.982% 33.079%,
          88.995% 30.774%,
          87.125% 28.222%,
          85.38% 25.437%,
          83.769% 22.433%,
          82.299% 19.223%,
          80.98% 15.822%,
          79.82% 12.244%,
          78.826% 8.502%,
          78.826% 8.502%,
          78.448% 7.119%,
          77.991% 5.818%,
          77.462% 4.614%,
          76.865% 3.521%,
          76.206% 2.555%,
          75.491% 1.731%,
          74.726% 1.065%,
          73.916% 0.569%,
          73.066% 0.261%,
          72.182% 0.155%,
          6.362% 0.155%,
          6.362% 0.155%,
          5.33% 0.297%,
          4.351% 0.708%,
          3.438% 1.364%,
          2.605% 2.245%,
          1.863% 3.328%,
          1.227% 4.59%,
          0.71% 6.009%,
          0.324% 7.563%,
          0.083% 9.229%,
          0% 10.986%,
          0% 89.17%,
          0% 89.17%,
          0.083% 90.926%,
          0.324% 92.593%,
          0.71% 94.147%,
          1.227% 95.566%,
          1.863% 96.828%,
          2.605% 97.91%,
          3.438% 98.791%,
          4.351% 99.448%,
          5.33% 99.858%,
          6.362% 100%,
          93.638% 100%,
          93.638% 100%,
          94.67% 99.858%,
          95.649% 99.448%,
          96.562% 98.791%,
          97.395% 97.91%,
          98.137% 96.828%,
          98.773% 95.566%,
          99.29% 94.147%,
          99.676% 92.593%,
          99.917% 90.926%,
          100% 89.17%,
          100% 48.062%
        );
      }

      section:nth-of-type(4) {
        clip-path: polygon(
          0% 48.062%,
          0% 48.062%,
          0.06% 46.59%,
          0.233% 45.173%,
          0.512% 43.819%,
          0.888% 42.538%,
          1.353% 41.338%,
          1.899% 40.23%,
          2.517% 39.221%,
          3.2% 38.323%,
          3.94% 37.542%,
          4.727% 36.889%,
          4.727% 36.889%,
          6.922% 35.122%,
          9.018% 33.079%,
          11.005% 30.774%,
          12.875% 28.222%,
          14.62% 25.437%,
          16.231% 22.433%,
          17.701% 19.223%,
          19.02% 15.822%,
          20.18% 12.244%,
          21.174% 8.502%,
          21.174% 8.502%,
          21.552% 7.119%,
          22.009% 5.818%,
          22.538% 4.614%,
          23.135% 3.521%,
          23.794% 2.555%,
          24.509% 1.731%,
          25.274% 1.065%,
          26.084% 0.569%,
          26.934% 0.261%,
          27.818% 0.155%,
          93.638% 0.155%,
          93.638% 0.155%,
          94.67% 0.297%,
          95.649% 0.708%,
          96.562% 1.364%,
          97.395% 2.245%,
          98.137% 3.328%,
          98.773% 4.59%,
          99.29% 6.009%,
          99.676% 7.563%,
          99.917% 9.229%,
          100% 10.986%,
          100% 89.17%,
          100% 89.17%,
          99.917% 90.926%,
          99.676% 92.593%,
          99.29% 94.147%,
          98.773% 95.566%,
          98.137% 96.828%,
          97.395% 97.91%,
          96.562% 98.791%,
          95.649% 99.448%,
          94.67% 99.858%,
          93.638% 100%,
          6.362% 100%,
          6.362% 100%,
          5.33% 99.858%,
          4.351% 99.448%,
          3.438% 98.791%,
          2.605% 97.91%,
          1.863% 96.828%,
          1.227% 95.566%,
          0.71% 94.147%,
          0.324% 92.593%,
          0.083% 90.926%,
          0% 89.17%,
          0% 48.062%
        );
      }

      section:nth-of-type(1),
      section:nth-of-type(3) {
        padding-inline: 8px 43px;

        p {
          width: 263px;
        }
      }

      section:nth-of-type(2),
      section:nth-of-type(4) {
        padding-inline: 56px 8px;

        p {
          width: 250px;
        }
      }
    }
  }

  @include deskmin {
    width: 1024px;
    gap: 80px;
    padding-bottom: 80px;

    figure {
      width: 1024px;
      height: 615px;

      img {
        width: 1024px;
        height: 615px;
      }

      figcaption {
        top: 295px;
        left: 385px;
      }
    }

    & > section:nth-of-type(1) {
      display: grid;
      column-gap: 28px;
      row-gap: 0;
      grid-template-rows: 18px 80px;
      justify-items: center;

      h2 {
        grid-area: 2 / 2;
      }

      div:first-of-type {
        grid-area: 1 / 1 / 4;
        order: initial;

        div {
          width: 326px;
          height: 302px;
        }

        div:nth-of-type(1) {
          left: 20px;
        }

        div:nth-of-type(2) {
          top: 20px;
        }

        div:nth-of-type(3) {
          right: 20px;
        }

        div:nth-of-type(4) {
          bottom: 20px;
        }

        img {
          width: 484px;
          height: 384px;
        }
      }

      div:last-of-type {
        grid-area: 3 / 2;
        margin-block: 48px 18px;
        width: 392px;
      }
    }

    & > section:nth-of-type(2) {
      grid-template-rows: 11px 40px;
      column-gap: 28px;
      row-gap: 0;

      h2 {
        width: fit-content;
        grid-area: 2/1;
      }

      img {
        grid-area: 1 / 2 / 4;
        width: 476px;
        height: 326px;
      }

      div {
        width: 476px;
        grid-area: 3 / 1;
        margin-block: 48px 11px;
      }
    }

    & > div:nth-of-type(1) {
      gap: 60px;

      section {
        width: 435px;
        height: 255px;
      }

      section:nth-of-type(1),
      section:nth-of-type(3) {
        padding-inline: 10px;

        p {
          width: 416px;
        }
      }

      section:nth-of-type(2),
      section:nth-of-type(4) {
        padding-inline: 52px 0;

        p {
          width: 384px;
        }
      }

      section:nth-of-type(1),
      section:nth-of-type(2) {
        padding-top: 10px;
      }

      section:nth-of-type(3),
      section:nth-of-type(4) {
        padding-top: 25px;
      }
    }
  }

  @include deskmax {
    width: 1440px;
    gap: 100px;
    padding-bottom: 100px;

    figure {
      width: 1440px;
      height: 662px;

      img {
        width: 1440px;
        height: 662px;
        object-position: 50% 44.5%;
        scale: 1;
      }

      figcaption {
        top: 310px;
        left: 560px;
      }
    }

    & > section:nth-of-type(1) {
      grid-template-rows: 95px 90px;

      h2 {
        width: 526px;
      }

      div:first-of-type {
        div {
          width: 425px;
          height: 393px;
        }

        img {
          width: 630px;
          height: 500px;
          margin: 49px;
        }
      }

      div:last-of-type {
        width: 526px;
        margin-bottom: 95px;
      }
    }

    & > section:nth-of-type(2) {
      grid-template-rows: 64.5px 45px;

      img {
        width: 635px;
        height: 435px;
      }

      div {
        width: 637px;
        margin-bottom: 64.5px;
      }
    }

    & > div:nth-of-type(1) {
      width: 1250px;
      gap: 120px;

      section {
        width: 503px;
        height: 295px;

        img {
          height: 60px;
          width: 60px;
        }
      }

      section:nth-of-type(1),
      section:nth-of-type(3) {
        padding: 24px 63px 0 24px;
      }

      section:nth-of-type(2),
      section:nth-of-type(4) {
        padding: 24px 24px 0 75px;
      }
    }
  }
}
