@import '@mixins';

.wrapBackground {
  background-repeat: no-repeat;
  background-size: cover;

  & > button {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    z-index: $z-index-local-1;

    @include tablet {
      height: 100%;
    }

    @include deskmin {
      height: 100%;
    }
  }

  & > button:first-of-type {
    left: 0;
  }

  & > button:last-of-type {
    right: 0;
  }

  .slide {
    height: 620px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;

    @include flex();
    @include layout();
    & {
      padding: 60px 15px 40px 15px;

      @include tablet {
        padding: 75px 64px 0 64px;
        height: 704px;

        &.right {
          gap: 100px;
        }
      }

      @include deskmin {
        padding: 96px 24px 0 24px;
      }

      @include deskmax {
        padding: 96px 72px 0 72px;

        &.right {
          gap: 345px;
        }
      }
    }

    img {
      position: absolute;
      top: 105px;
      height: 424px;
      aspect-ratio: 1 / 1.6;

      @include mobile {
        aspect-ratio: 1 / 1.45;
      }

      @include tablet {
        position: relative;
        height: 642px;
        top: 0px;
      }

      @include deskmin {
        height: 562px;
        top: 24px;
      }
    }

    section {
      height: 100%;
      width: 100%;

      @include flex(column, space-between, null);

      @include tablet {
        justify-content: center;
        align-items: start;
        gap: 50px;
      }
      .label {
        p {
          width: fit-content;
          padding: 10px 20px 10px 20px;
          border-radius: $border-radius-base;
          box-sizing: border-box;
          color: #3a3a3a;
          border: 1px solid #3a3a3a;
          font-family: $font-main;
          font-weight: 600;
          font-size: 18px;
          line-height: 140%;
          letter-spacing: 8%;

          @include tablet {
            font-weight: 400;
          }

          @include deskmax {
            font-size: 24px;
          }
        }
      }

      .bottomWrapper {
        backdrop-filter: blur(7.199999809265137px);
        align-items: center;
        @include flexGap(16px, column);
        position: relative;
        z-index: $z-index-local-2;

        @include tablet {
          @include flexGap(50px, column);
          align-items: start;
          backdrop-filter: none;

          h1 {
            text-align: start;
          }
        }

        button {
          font-size: $font-size-medium;
          font-weight: $font-weight-medium;
          width: 296px;
          height: 54px;

          @include mobile {
            width: 331px;
          }

          &:hover {
            background-color: $background-color-light;
            color: $text-color-black;
          }

          @include tablet {
            height: 58px;
            width: 241px;
            font-weight: $font-weight-bold;
            line-height: $letter-spacing-base;
            letter-spacing: $letter-spacing-base;
            color: $text-color-light;
          }

          @include deskmax {
            height: 77px;
            font-size: $font-size-medium-extra;
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing-base;
          }
        }
      }
    }
  }
}
