@import '@mixins';

.ulNavigation {
  @include flex(row, null, null);

  @include tablet {
    justify-content: space-evenly;
    width: 100%;
  }

  @include deskmin {
    justify-content: space-evenly;
    margin-left: 0;
    width: 100%;
  }

  section {
    @include flexGap(24px, column);
    text-wrap: nowrap;
  }
}
