@import '@mixins';

.ulNavigation {
  @include flex(column, null, null);
  gap: 24px;

  @include tablet {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }

  @include deskmin {
    margin-left: 0;
    width: 50%;
  }

  @include deskmax {
    justify-content: center;
    width: 33%;
  }

  .wrapList {
    text-wrap: nowrap;
    width: 296px;

    @include mobile {
      @include flexGap(24px, column);
      width: auto;
    }

    @include deskmax {
      flex-direction: row;
      justify-content: space-evenly;
      gap: 0;
      width: 100%;
      margin-bottom: 23px;
    }

    .wrapLinks {
      @include flexGap(24px, column);
    }
  }
}
