@import '@mixins';

.ourPartners {
  @include flexGap(35px, column);

  .buttonWrapper {
    @include flex();

    button {
      width: 306px;
    }
  }
}

.mainMapContainer {
  position: relative;
  overflow: hidden;
  margin: auto;
  touch-action: none;
  width: 296px;
  height: 200px;

  @include mobile {
    height: 242px;
    width: 356px;
  }

  @include tablet {
    width: 640px;
    height: 435px;
  }

  @include deskmin {
    width: 980px;
    height: 665px;
  }

  @include deskmax {
    width: 1296px;
    height: 880px;
  }

  .zoomButtonsWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    @include flexGap(16px);

    svg {
      box-sizing: border-box;
      transition: 0.3s ease all;
      border: 1px solid $second-background-color-black;
      &:hover,
      &:active {
        border: none;
        rect {
          fill: $second-background-color-black;
        }
        path {
          stroke: white;
        }
      }
    }
  }

  .containerWithMap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;

    .map {
      width: 296px;
      display: block;

      @include mobile {
        width: 356px;
      }

      @include tablet {
        width: 640px;
      }

      @include deskmin {
        width: 980px;
      }

      @include deskmax {
        width: 1296px;
      }
    }

    .mark {
      position: absolute;
      transform: translate(-50% -50%);

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
