@import '@mixins';

.benefit {
  @include flexGap(8px, column);
  padding: 0;
  width: 150px;
  height: 360px;
  position: relative;
  color: black;
  padding: 12px;
  box-sizing: border-box;

  @include mobile {
    width: 356px;
  }

  @include tablet {
    width: 306px;
    height: 518px;
  }

  p,
  h2 {
    text-align: start;
  }
}

// *** SliderBoxMain ***
.wrapSlider {
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;

  .slider {
    display: flex;
    width: auto;
    padding: 0;
  }
  .btnSlider {
    @include flex(row, space-between, center);
    margin: 0 auto 10px auto;
    button {
      @include flex(row, center, center);
      border: none;
      outline: none;
      padding: 0;
      cursor: pointer;
      &:hover,
      &:active {
        svg {
          @include flex(row, center, center);
          rect {
            fill: rgb(34, 33, 31);
            transition: fill 0.5s ease;
          }
          path {
            stroke: #ffffff;
            transition: stroke 0.5s ease;
          }
        }
      }
      &:disabled {
        cursor: not-allowed;
        svg {
          @include flex(row, center, center);
          rect {
            fill: #f8f8f9;
            transition: fill 0.5s ease;
          }
          path {
            stroke: #22211f;
            transition: stroke 0.5s ease;
          }
        }
      }
    }
  }
  @include tablet {
    width: 668px;
    .slider {
      padding: 0 14px;
    }
    .btnSlider {
      gap: 16px;
      padding: 0 13px;
    }
  }
  @include deskmin {
    width: 1008px;
    .btnSlider {
      justify-content: end;
      padding: 0 20px;
    }
  }
  @include deskmax {
    width: 1320px;
    text-align: center;
    .slider {
      padding: 0 12px;
    }
    .btnSlider {
      width: 1296px;
      padding: 0;
    }
  }
}
