.slide {
  height: 656px;
  background-size: cover;
  // background-position: center;
}

.firstSlide {
  background-image: url('../../../assets/png/banners/mainBanner/MainBannerFirstImage.png');
}
.secondSlide {
  background-image: url('../../../assets/png/banners/mainBanner/MainBannerSecondImage.png');
}
.thirdSlide {
  background-color: aqua;
}
