.slide {
  height: 656px;
  background-size: cover;
  // background-position: center;
}

.firstSlide {
  background-image: url("../../../assets/png/MainBannerFirstImage.png");
}
.secondSlide {
  background-image: url("../../../assets/png/MainBannerSecondImage.png");
}
.thirdSlide {
  background-color: aqua;
}
