@import '@mixins';

.cartItem {
  @include flexGap(8px);
  list-style-type: none;
  width: 288px;

  img {
    cursor: pointer;
    height: 86px;
    width: 86px;
    border-radius: 2px;
    aspect-ratio: 1/1;
  }

  section {
    @include flex(column, space-between, null);

    div:first-of-type {
      @include flex(row, space-between, start);
      box-sizing: border-box;
      padding-right: 4px;
      width: 100%;

      p {
        width: 170px;
        height: 59px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
      }

      button {
        @include flex();
        height: 20px;
        width: 20px;

        svg {
          path {
            fill: #676767;
          }
        }
      }
    }
    div:last-of-type {
      @include flex(row, space-around);
      h4:nth-child(1) {
        order: 2;
      }

      h4 {
        span {
          display: none;
        }
      }

      h4:last-of-type {
        display: none;
      }
    }
  }

  @include mobile {
    width: 308px;

    section {
      div:first-of-type {
        p {
          width: 190px;
        }
      }
    }
  }

  @include tablet {
    width: 526px;
    gap: 24px;

    section {
      width: 412px;
      div:first-of-type {
        padding-right: 8px;

        p {
          height: 40px;
          width: 370px;

          -webkit-line-clamp: 2;
          line-clamp: 2;
        }
      }

      div:last-of-type {
        justify-content: start;
        gap: 24px;

        h4 {
          @include flexGap(4px, column);
          span {
            font-family: $font-main;
            font-weight: 300;
            font-size: 16px;
            line-height: 128%;
            color: #a2a2a2;
            display: inline;
          }
        }

        h4:nth-child(1) {
          order: initial;
        }

        h4:last-of-type {
          display: flex;
        }
      }
    }
  }

  @include deskmin {
    width: 364px;

    section {
      width: 254px;

      div:first-of-type {
        p {
          width: 220px;
        }
      }
    }
  }

  @include deskmax {
    width: 526px;

    section {
      width: 412px;

      div:first-of-type {
        p {
          width: 370px;
        }
      }

      div:last-of-type {
        h4 {
          width: 86px;
        }
      }
    }
  }
}
