@import '@mixins';

.partnersManagement {
  width: 280px;
  margin-inline: auto;
  margin-top: 45px;

  & > div:first-of-type {
    @include flexGap(16px, column);

    p {
      font-family: Mulish;
      font-weight: 400;
      font-size: 24px;
      line-height: 136%;
      color: #4c9a4e;
    }

    a {
      width: 280px;
      height: 54px;
    }
  }

  @include mobile {
    width: 340px;

    & > div:first-of-type {
      a {
        width: 340px;
      }
    }
  }

  @include tablet {
    width: 524px;
    margin: 36px 36px 0 208px;

    & > div:first-of-type {
      flex-direction: row;
      justify-content: space-between;

      p {
        font-size: 32px;
      }

      a {
        height: 65px;
        width: 256px;
      }
    }
  }

  @include deskmin {
    width: 686px;
    margin: 36px auto;

    & > div:first-of-type {
      a {
        width: 300px;
      }
    }
  }

  @include deskmax {
    width: 993px;
  }
}
