@import '@mixins';

.productManagement {
  color: black;
  margin-inline: auto;
  width: 280px;

  @include tablet {
    width: 562px;
  }

  @include deskmin {
    width: 686px;
  }

  @include deskmax {
    width: 993px;
  }
}
