@import '@mixins';

label.paymentCheckbox {
  @include flexGap(8px);
  align-items: center;
  cursor: pointer;
  font-family: $font-second;
  font-weight: 400;
  font-size: 12px;
  line-height: 124%;
  color: #676767;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  & > span:first-of-type {
    height: 24px;
    width: 24px;
    background-image: url('/svg/catalogPage/emptyCheckbox.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  input:checked ~ span {
    background-image: url('/svg/catalogPage/checkbox.svg');
  }

  p {
    font-family: $font-second;
    font-size: $font-size-base;
    font-weight: $font-weight-base;

    span {
      color: #a2a2a2;
    }
  }

  @include mobile {
    gap: 12px;
  }

  @include tablet {
    width: 100%;
    text-wrap: nowrap;
  }
}
