@import '@mixins';

.wrap {
  @include tablet {
    margin-left: -16px;
  }

  @include deskmin {
    margin-left: -12px;
  }

  ul {
    @include flexGap(10px, row);
    flex-wrap: wrap;
    width: 296px;

    @include mobile {
      width: 356px;
    }

    @include tablet {
      width: 640px;
    }
  }
}
