@import "../../styles/mixins.scss";

// TODO Add user-select: none to Calendar icon

footer {
  @include flex(column, null, center);

  font-family: $font-main;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;

  box-sizing: border-box;
  padding-top: 48px;
  height: 312px;
  max-height: 312px;
  background-color: black;
}

.topSection {
  @include HeightWidth(254px, 100%);
  @include flex(null, space-around);

  .logoAndSocialsSection {
    @include flex(column, null, start);
    gap: 30px;
    width: 234px;

    ul {
      @include flexRowGap(24px);
      margin-top: 16px;
    }
  }

  .ulNavigation {
    @include flexColumnGap(18px);

    li {
      a {
        color: white;
      }
    }
  }

  .ulFooter {
    @include flexColumnGap(8px);
    margin-top: 12px;
  }

  .titleFooterWithCalendarIcon {
    @include flexRowGap(16px);
    margin-left: -34px;
  }

  .phoneCallLi {
    @include flexRowGap(6px);
    margin-left: -35px;
  }

  .phoneCallIcon {
    user-select: none;
    margin-right: 5px;
  }
}

.bottomSection {
  @include HeightWidth(57px, 100%);

  hr {
    @include HeightWidth(1px, 97%);
    color: #a2a2a2;
  }

  p {
    @include text;
    // font-family: $font-main;
    font-size: 15px;
    font-weight: $font-weight-base;
    line-height: 18px;

    text-align: center;
  }
}
