@import '@mixins';

.footer {
  @include flex(column, null, center);
  padding: 62px 15px 0 15px;
  box-sizing: border-box;
  background-color: $second-background-color-black;
  height: 488px;

  @include mobile {
    height: 355px;
  }

  @include tablet {
    height: 349px;
    padding: 48px 64px 0 64px;
    overflow: hidden;
  }

  @include deskmin {
    padding: 20px 21px 0 21px;
    padding-top: 54px;
    height: 312px;
    max-height: 312px;
  }

  @include deskmax {
    padding: 65px 72px 0 72px;
    height: 256px;
  }
}
