@import '@mixins';

footer {
  @include flex(column, null, center);

  font-family: $font-main;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;

  box-sizing: border-box;
  padding-top: 54px;
  height: 312px;
  max-height: 312px;
  background-color: $second-background-color-black;
}

.topSection {
  height: 254px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 0 0 5%;
  box-sizing: border-box;

  .logoAndSocialsSection {
    @include flex(column, null, start);
    gap: 30px;
    width: 234px;

    ul {
      @include flexGap(24px);
      margin-top: 16px;
    }
  }

  .firstNavigationSection {
    justify-self: center;
  }

  .ulNavigation {
    @include flexGap(18px, column);

    // .textToRight {
    //   text-align: end;
    // }

    li {
      a {
        color: white;
      }
    }
  }

  .ulFooter {
    @include flexGap(8px, column);
    margin-top: 12px;
  }

  .titleFooterWithCalendarIcon {
    @include flexGap(16px);
    margin-left: -34px;
    user-select: none;
  }

  .phoneCallLi {
    @include flexGap(6px);
    margin-left: -35px;
  }

  .phoneCallIcon {
    user-select: none;
    margin-right: 5px;
  }
}

.bottomSection {
  height: 57px;
  width: 100%;

  hr {
    height: 1px;
    width: 97%;
    color: #a2a2a2;
  }

  p {
    font-family: $font-main;
    font-size: 15px;
    font-weight: $font-weight-base;
    line-height: 18px;

    text-align: center;
  }
}
