@import '@mixins';

.wrapSliders {
  @include flex(column, flex-start, center);
  box-sizing: border-box;
  gap: 40px;
  width: 296px;
  min-height: 685px;
  height: 685px;

  @include mobile {
    width: 356px;
    min-height: 693px;
    height: 693px;
    gap: 48px;
  }
  @include tablet {
    width: 640px;
    min-height: 646px;
    height: 646px;
  }
  @include deskmin {
    width: 980px;
    min-height: 651px;
    height: 651px;
  }
  @include deskmax {
    width: 1296px;
    gap: 72px;
    min-height: 680px;
    height: 680px;
  }
}
