@import '@mixins';

.messagePopUp {
  @include flex(column, null, center);
  height: 702px;
  width: 507px;
  position: fixed;
  top: 7%;
  left: 33%;
  background-color: $background-color-light;
  color: #000000;
  font-family: $font-main;
  z-index: 100;
  padding: 44px 40px 90px 37px;
  box-sizing: border-box;
  border-radius: 2px;

  img {
    cursor: pointer;
    align-self: end;
  }

  h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: $font-weight-bold;
    line-height: 28.8px;
    letter-spacing: $letter-spacing-base;
  }

  h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: $font-weight-medium;
    line-height: $line-height-base;
    text-align: center;
  }

  form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    label {
      font-size: $font-size-medium;
      font-weight: $font-weight-medium;
      line-height: 23.04px;
      display: block;
      user-select: none;
    }

    .additionalText {
      @include flex(row, space-between, center);

      img {
        height: 20px;
        width: 20px;
      }
    }

    .buttonWrapper {
      @include flex();

      button {
        width: 95%;
      }
    }
  }
  // ********
  .wrapRating {
    @include flex(row, space-between, center);
    ul {
      @include flex(row, center, center);
      width: 136px;
      height: 24px;
      gap: 4px;
      li {
        @include flex(row, center, center);
        position: relative;
        width: 24px;
        height: 24px;
        input {
          position: absolute;
          appearance: none;
          border: none;
          padding: 0;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
