@import '@mixins';

@mixin slide() {
  @include flex(column, space-between, start);
  padding: 15vh 15px 100px 15px;

  @include deskmax {
    padding: 0 72px;
  }

  @include tablet {
    @include flex(column, center, start);
    padding: 0 64px;
    gap: 8vh;
  }

  @include deskmin {
    padding: 0 21px;
  }

  @include deskmax {
    @include flex(column, center, start);
    gap: 4vh;
    padding: 0 72px 5vw 72px;
  }
}

.slide {
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  section {
    height: 100%;

    .label {
      width: fit-content;
      padding: 10px 20px 10px 20px;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .bottomWrapper {
      @include flexGap(16px, column);

      @include tablet {
        @include flexGap(8vh, column);
      }
    }
  }
}

.firstSlide {
  @include flex(column, center, start);
  background-image: url('/images/banners/mainBanner/1.png');
  background-attachment: fixed;
  background-position: 73%;

  section {
    @include slide();

    .label {
      color: #6d19da;
      border: 1px solid #6d19da;
    }

    button:hover {
      background-color: #1e0045;
    }
  }
}
.secondSlide {
  @include flex(column, center, end);

  background-image: url('/images/banners/mainBanner/2.png');

  section {
    padding-right: 5vw;
    @include slide();

    .label {
      color: #0b7729;
      border: 1px solid #0b7729;
    }

    button:hover {
      background-color: #002a0c;
    }
  }
}
.thirdSlide {
  @include flex(column, center, start);
  background-image: url('/images/banners/mainBanner/3.png');

  section {
    @include slide();

    .label {
      color: #3a3a3a;
      border: 1px solid #3a3a3a;
    }

    button:hover {
      background-color: #3a3a3a;
    }
  }
}
