@import '@mixins';

@mixin slide() {
  @include flex(column, space-between, start);
  padding: 15vh 5vw 5vh 5vw;

  @include tablet {
    @include flex(column, center, start);
    gap: 8vh;
  }

  @include deskmax {
    @include flex(column, center, start);
    gap: 4vh;
    padding-left: 5vw;
  }
}

.slide {
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;

  section {
    height: 100%;

    .label {
      font-family: $font-main;
      width: fit-content;
      font-size: 24px;
      font-weight: $font-weight-base;
      line-height: 33.6px;
      letter-spacing: $letter-spacing-base;
      padding: 10px 20px 10px 20px;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .bottomWrapper {
      @include flexGap(16px, column);

      @include tablet {
        @include flexGap(8vh, column);
      }

      button {
        width: 330px;

        @include deskmim {
          width: 275px;
        }
      }
    }
  }
}

.firstSlide {
  @include flex(column, center, start);
  background-image: url('/images/banners/mainBanner/1.png');
  background-attachment: fixed;
  background-position: 73%;

  section {
    @include slide();

    .label {
      color: #6d19da;
      border: 1px solid #6d19da;
    }

    button:hover {
      background-color: #1e0045;
    }
  }
}
.secondSlide {
  @include flex(column, center, end);

  background-image: url('/images/banners/mainBanner/2.png');

  section {
    padding-right: 5vw;
    @include slide();

    .label {
      color: #0b7729;
      border: 1px solid #0b7729;
    }

    button:hover {
      background-color: #002a0c;
    }
  }
}
.thirdSlide {
  @include flex(column, center, start);
  background-image: url('/images/banners/mainBanner/3.png');

  section {
    @include slide();

    .label {
      color: #3a3a3a;
      border: 1px solid #3a3a3a;
    }

    button:hover {
      background-color: #3a3a3a;
    }
  }
}
