@import '@mixins';

.slide {
  height: 620px;
  background: var(--background-image), pink;
  background-size: cover;
  background-repeat: no-repeat;

  @include flex();
  @include layout();
  & {
    padding: 60px 15px 90px 15px;

    @include tablet {
      padding: 75px 64px 0 64px;
      height: 530px;

      &.right {
        gap: 100px;
      }
    }

    @include deskmax {
      padding: 96px 72px 0 72px;
    }
  }

  img {
    position: absolute;
    top: 60px;
    width: 270px;
    @include tablet {
      position: static;
    }
  }

  section {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;

    @include flex(column, space-between, null);

    @include tablet {
      justify-content: center;
      align-items: start;
      gap: 50px;
    }
    .label {
      width: fit-content;
      padding: 10px 20px 10px 20px;
      border-radius: 4px;
      box-sizing: border-box;
      color: var(--label-color, #6d19da);
      border: 1px solid var(--label-color, #6d19da);
      // background: var(--background-image), pink;
    }

    .bottomWrapper {
      align-items: center;
      @include flexGap(16px, column);

      @include tablet {
        @include flexGap(50px, column);
        align-items: start;

        h1 {
          text-align: start;
        }
      }

      button:hover {
        background-color: var(--button-hover, #6d19da);
      }
    }
  }
}
