@import '@mixins';

.textarea {
  resize: none;
  box-sizing: border-box;
  padding: 12px;
  font-family: $font-main;
  letter-spacing: $letter-spacing-small;
  line-height: $line-height-small;
  outline: none;

  &::placeholder {
    font-size: $font-size-small;
    font-weight: $font-weight-base;
  }
}

.popUp {
  height: 131px;
  border-radius: $border-radius-base;
  border: 1px solid #676767;

  &::placeholder {
    color: #676767;
  }
}
