@import '@mixins';

.textarea {
  resize: none;
  box-sizing: border-box;
  padding: 12px;
  margin: 0;
  font-family: $font-main;
  letter-spacing: $letter-spacing-small;
  line-height: $line-height-small;
  outline: none;
  width: 100%;
  border-radius: 8px;
  height: 125px;
  
   @include tablet {
    height: 100%;
    border: none;
  }

  &::placeholder {
    font-size: $font-size-small;
    font-weight: $font-weight-base;
  }
}

.popUp {
  border-radius: $border-radius-base;
  border: 1px solid #676767;

  &::placeholder {
    color: #676767;
  }
}
