@import '@mixins';

.textarea {
  resize: none;
  box-sizing: border-box;
  padding: 12px;
  margin: 0;
  font-family: $font-main;
  letter-spacing: $letter-spacing-small;
  line-height: $line-height-small;
  outline: none;
  width: 280px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  height: 125px;
  color: #323232;

  &.error {
    border: 1px solid #e31a1a !important;
  }

  @include tablet {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.popUp {
  border-radius: $border-radius-base;
  border: 1px solid #676767;

  &::placeholder {
    color: #676767;
  }
}
