@import '@mixins';

.promocodeCreate {
  @include flexGap(74px, column);
  color: black;
}

@include mobile {
  .promocodeCreate {
    gap: 90px;
  }
}

@include tablet {
  .promocodeCreate {
    gap: 72px;
    margin: 36px 36px 0 208px;
  }
}

@include deskmin {
  .promocodeCreate {
    margin: 36px auto;
  }
}

@include deskmax {
  .promocodeCreate {
    width: 993px;
  }
}
