@import '@mixins';

.footerNavigation {
  @include flex(column, null, null);
  gap: 24px;
  width: 296px;
  height: 73px;

  @include mobile {
    width: 145px;
    height: 167px;
  }

  @include tablet {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }

  @include deskmin {
    margin-left: 0;
    width: 50%;
  }

  @include deskmax {
    justify-content: center;
    width: 33%;
  }

  .wrapList {
    text-wrap: nowrap;
    @include flex(row, space-between, null);
    width: 296px;
    height: 73px;

    @include mobile {
      @include flexGap(24px, column);
      width: 145px;
      height: 167px;
    }

    @include deskmax {
      flex-direction: row;
      justify-content: space-evenly;
      gap: 0;
      width: 100%;
      margin-bottom: 23px;
    }

    ul {
      @include flexGap(24px, column);

      a {
        font-family: $font-main;
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        letter-spacing: $letter-spacing-small;
        line-height: 21.76px;

        @include tablet {
          text-wrap: nowrap;
        }

        @include deskmin {
          font-family: $font-main;
          font-size: $font-size-medium;
          line-height: $line-height-base;
        }
      }
    }
  }
}
