@import '@mixins';

.basketItems {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.totalSection {
  width: 100%;
  p {
    @include flex(row, space-between, center);
    margin-bottom: 10px;
    span {
      font-family: $font-second;
      font-size: $font-size-base;
      font-weight: $font-weight-base;
      line-height: 23.04px;
    }

    strong {
      font-family: $font-main;
      font-size: $font-size-medium;
      font-weight: $font-weight-medium;
      line-height: 23.04px;
    }
  }

  h3 {
    @include flex(row, space-between, center);
    span {
      font-family: $font-main;
      font-size: $font-size-medium-plus;
      font-weight: $font-weight-medium;
      line-height: $line-height-base;
    }
  }
}

.buttonsSection {
  margin-top: auto;
  display: flex;
  gap: 20px;
  width: 100%;

  a {
    @include flex(row, center, center);
    background-color: $second-background-color-black;
    color: white;
    border: 2px solid $second-background-color-black;
    width: 100%;
    height: 56px;
    font-size: $font-size-medium;
    font-family: $font-main;
    font-weight: $font-weight-medium;
    line-height: $line-height-base;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    border-radius: $border-radius-medium;
    transition:
      background-color 300ms ease-out,
      color 300ms ease-out;

    &:hover {
      background-color: transparent;
      color: $text-color-black;
    }
  }
}
