@import '@mixins';

.homeCatalogSection {
  @include flex(column, flex-start, center);
  width: 100%;
  gap: 40px;
  box-sizing: border-box;
  min-height: 445px;
  height: 445px;

  @include mobile {
    min-height: 517px;
    height: 517px;
  }
  @include tablet {
    min-height: 692px;
    height: 692px;
  }
  @include deskmin {
    min-height: 555px;
    height: 555px;
  }
  @include deskmax {
    min-height: 840px;
    height: 840px;
  }

  ul {
    @include flex(row, center, center);
    flex-wrap: wrap;
    width: 296px;
    gap: 22px;
    figure {
      position: relative;
      @include flex(row, center, center);
      img {
        width: 136px;
        height: 112px;
        object-fit: cover;
        border-radius: $border-radius-small;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          filter: brightness(1.7);
        }
      }
      figcaption {
        position: absolute;
        width: auto;
        color: rgb(253, 253, 253);
        font-family: $font-main;
        font-size: $font-size-small;
        font-weight: 500;
        line-height: 1.22;
        text-align: right;
        padding: 4px;
        bottom: 10px;
        right: 0;
        background-color: #22211f;
        text-shadow: 2px 2px 4px #22211f;
        pointer-events: none;
      }
    }
  }

  @include mobile {
    ul {
      width: 356px;
      figure {
        img {
          width: 166px;
          height: 136px;
        }
      }
    }
  }

  @include tablet {
    gap: 48px;
    ul {
      width: 640px;
      gap: 28px;
      figure {
        img {
          width: 306px;
          height: 186px;
        }
      }
    }
  }
  @include deskmin {
    ul {
      width: 980px;
      gap: 28px;
      figure {
        img {
          width: 308px;
          height: 222px;
        }
        figcaption {
          font-size: $font-size-base;
          padding: 6px;
        }
      }
    }
  }
  @include deskmax {
    gap: 72px;
    ul {
      width: 1296px;
      gap: 24px;
      figure {
        img {
          width: 416px;
          height: 352px;
        }
        figcaption {
          font-size: $font-size-medium-plus;
          padding: 8px;
        }
      }
    }
  }
}
