@import '@mixins';

.input {
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
  font-family: $font-main;
  font-size: $font-size-small;
  font-weight: $font-weight-base;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-small;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.popUp {
  height: 40px;
  border-radius: $border-radius-base;
  border: 1px solid #676767;

  &::placeholder {
    color: #676767;
  }
}

.phoneNumberInput {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
