@import '@mixins';

.label {
  input {
    box-sizing: border-box;
    outline: none;
    padding-left: 10px;
    font-family: $font-main;
    font-size: $font-size-small;
    font-weight: $font-weight-base;
    line-height: $line-height-small;
    letter-spacing: $letter-spacing-small;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &.error {
      border-color: #e31a1a;
      color: #e31a1a;

      &::placeholder {
        color: #e31a1a;
      }
    }
  }
}

.popUp {
  input {
    height: 40px;
    border-radius: $border-radius-base;
    border: 1px solid #676767;

    &::placeholder {
      color: #676767;
    }
  }
}

.phoneNumberInput {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &.error {
    border-color: #e31a1a;
    color: #e31a1a;
  }
}

.admin {
  @include flex(row, space-between, start);
  font-family: Mulish;
  font-weight: 400;
  font-size: 14px;
  line-height: 136%;
  color: #000000;
  width: 280px;

  input {
    border-radius: 6px;
    padding: 12px 24px;
    border: 1px solid #a2a2a2;
    color: #676767;
    align-items: start;
    font-size: 16px;
    height: 46px;

    &::placeholder {
      font-family: Mulish;
      font-weight: 400;
      font-size: 16px;
      line-height: 136%;
      color: #a2a2a2;
    }

    &:hover {
      border-color: #676767;
    }

    &.error {
      border-color: #e31a1a;
      color: #e31a1a;
    }

    &:disabled {
      background: -webkit-repeating-radial-gradient();
    }
  }

  @include mobile {
    font-size: 18px;
    width: 340px;

    input[type='text'],
    input[type='number'],
    input {
      width: 340px;
    }
  }

  @include tablet {
    width: 524px;
    font-size: 20px;
    font-weight: 600;

    input[type='text'],
    input[type='number'],
    input {
      width: 357px;
    }
  }

  @include deskmin {
    width: 334px;

    input {
      font-size: 18px;

      &::placeholder {
        font-size: 18px;
      }
    }
  }

  @include deskmax {
    width: 475px;
    font-size: 24px;
    font-weight: 400;

    input {
      font-size: 20px;

      &::placeholder {
        font-size: 20px;
      }
    }
  }
}
