@import "../../../styles/mixins.scss";

.majorInfoWrapper {
  margin-top: 100px;
  color: black;

  h2 {
    text-align: center;
    font-family: $font-main;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: 44.64px;
    margin-bottom: 50px;
  }

  figure {
    @include flex(row, center, center);

    figcaption {
      @include flexColumnGap(24px);
      box-sizing: border-box;
      padding: 0 4% 0 9%;

      p {
        font-family: $font-second;
        font-size: 20px;
        font-weight: $font-weight-base;
        line-height: 27.2px;
        text-align: justify;
        color: #22211f;
      }

      h3 {
        font-family: $font-main;
        font-size: 20px;
        font-weight: $font-weight-medium;
        line-height: 24px;
        text-align: end;
        background: none !important;
        a {
          color: $text-color-black;
          text-decoration: underline;
          background: none !important;

          &:hover {
            text-decoration: none;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
            z-index: 1;
          }
        }
      }
    }
  }
}
