@import '@mixins';

.basketWrapper {
  @include flex(column, null, center);
  width: 320px;
  height: $height-pop-up-header-mobile;
  padding: 20px 12px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: $border-radius-small;
  background-color: $background-color-light;
  background-image: url('/images/basket/basketBackground.png');
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  z-index: $z-index-pop-up;

  @include mobile {
    padding: 20px 12px 15px 12px;
    width: 380px;
  }

  @include tablet {
    height: $height-pop-up-header-tablet;
    max-height: 100vh;
    width: 610px;
    overflow: auto;
    padding: 40px 32px 20px 32px;
  }

  @include deskmin {
    height: 100vh;
  }

  @include showCloseAnimation();
}

.emptyBasket {
  background-image: none;
}

.closeBasket {
  @include showCloseAnimation('close');
}
