@import '@mixins';

.basketWrapper {
  @include flex(column, null, center);
  height: $height-pop-up-header-mobile;
  width: $width-pop-up-header-width;
  box-sizing: border-box;
  padding: 20px 32px 15px 32px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 2px;
  background-color: $background-color-light;
  background-image: url('/images/basket/basketBackground.png');
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  z-index: 100;

  @include tablet {
    height: $height-pop-up-header-tablet;
    max-height: 100vh;
    overflow: scroll;
  }

  @include deskmin {
    padding: 40px 32px 20px 32px;
    width: 609px;
    height: 100vh;
  }

  @include showCloseAnimation();
}

.emptyBasket {
  background-image: none;
}

.closeBasket {
  @include showCloseAnimation('close');
}
