@import '@mixins';

.slider {
  @include flex(column, flex-start, center);
  box-sizing: border-box;
  width: 296px;

  & > h3 {
    width: 100%;
  }
  @include mobile {
    width: 356px;
  }

  @include tablet {
    width: 640px;
  }

  @include deskmin {
    width: 980px;
  }

  @include deskmax {
    width: 1296px;
  }
}
