@import '@mixins';

.wrapImg {
  position: relative;
  @include flex(row, center, center);
  width: 296px;
  height: 296px;
  img {
    width: 296px;
    height: 296px;
    object-fit: cover;
  }

  @include mobile {
    width: 356px;
    height: 356px;
    img {
      width: 356px;
      height: 356px;
      object-fit: cover;
    }
  }

  @include tablet {
    width: 306px;
    height: 304px;
    img {
      width: 306px;
      height: 304px;
    }
  }
}
