@import '@mixins';

.checkoutSteps {
  margin-inline: auto;
  width: 288px;

  label {
    @include flexGap(8px, column);

    input {
      height: 48px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #676767;
      padding: 12px;
      box-sizing: border-box;

      &:placeholder {
        font-family: $font-second;
        font-size: $font-size-base;
        font-weight: $font-weight-base;
        line-height: 1.24;
        color: $text-color-black;
        color: #c0c0c0;
      }

      &.error {
        border-color: #e31a1a;
      }
    }
  }

  @include mobile {
    width: 309px;
  }

  @include tablet {
    label {
      width: 306px;
    }
  }

  @include deskmin {
    input {
      &:placeholder {
        font-size: $font-size-base;
      }
    }
  }
}
