@import '@mixins';

.partnerForm {
  @include flexGap(32px, column);

  h2,
  & > label {
    font-family: Mulish;
    font-weight: 400;
    font-size: 24px;
    line-height: 136%;
  }

  .coordinates {
    @include flexGap(8px, column);

    label:first-of-type {
      margin-top: 8px;
    }

    label {
      @include flex(row, space-between);

      input {
        text-align: center;
        width: 100px;
        height: 46px;
      }
    }
  }

  & > label {
    @include flexGap(16px, column);

    input[type='text'] {
      width: 100%;
    }
  }

  .partnersData,
  .workSchedule {
    @include flexGap(16px, column);

    label:first-of-type {
      margin-top: 8px;
    }
  }

  .partnersData {
    label {
      @include flexGap(16px, column);
    }
  }

  .workSchedule {
    label {
      align-items: center;
      input {
        width: 178px;
      }
    }
  }

  @include mobile {
    .coordinates {
      label {
        input {
          width: 150px;
        }
      }
    }

    .workSchedule {
      label {
        input {
          width: 225px;
        }
      }
    }
  }

  @include tablet {
    .coordinates {
      label {
        width: 440px;
      }
    }

    .partnersData,
    .workSchedule {
      label {
        flex-direction: row;
        align-items: center;

        input {
          width: 300px;
        }
      }
    }

    h2 {
      font-size: 32px;
    }
  }

  @include deskmin {
    & > label {
      width: 686px;
    }

    .partnersData,
    .workSchedule {
      label {
        width: 686px;

        input {
          width: 420px;
        }
      }
    }
  }

  @include deskmax {
    flex-direction: row;
    flex-wrap: wrap;

    .coordinates {
      order: 1;
    }

    & > label {
      order: 2;
      width: 492px;
      margin-left: auto;
    }

    .partnersData {
      order: 4;
      label {
        width: 806px;

        input {
          width: 548px;
        }
      }
    }

    .workSchedule {
      order: 5;
      label {
        width: 430px;

        input {
          width: 315px;
        }
      }
    }
  }
}
