@import '@mixins';

.majorInfoWrapper {
  margin-top: 100px;
  color: black;

  figure {
    @include flex();

    img {
      @include deskmim {
        height: 345px;
        width: 420px;
      }
    }

    figcaption {
      @include flexGap(24px, column);
      box-sizing: border-box;
      padding: 0 4% 0 9%;

      p {
        font-family: $font-second;
        font-size: 20px;
        font-weight: $font-weight-base;
        line-height: 27.2px;
        text-align: justify;
        color: #22211f;
      }

      div {
        width: fit-content;
        @include flex(row, end);
      }
    }
  }
}
