@import '@mixins';

.majorInfoWrapper {
  margin-top: 100px;
  color: black;
  padding-right: 4vw;

  h2 {
    text-align: center;
    text-wrap: balance;
    margin-bottom: 64px;
  }

  figure {
    @include tablet {
      @include flex();
    }

    img {
      width: 375px;
      height: 304px;
      border-radius: 2px 8px 8px 2px;

      @include tablet {
        height: 379px;
      }

      @include deskmin {
        height: 345px;
        width: 420px;
      }
    }

    figcaption {
      @include flexGap(24px, column);
      margin-top: 32px;
      padding: 0 5%;
      box-sizing: border-box;

      @include deskmin {
        padding-left: 9%;
      }

      div {
        @include flex(row, end);
      }
    }
  }
}
