@import '@mixins';

.majorInfoWrapper {
  @include flex(column, flex-start, center);
  gap: 40px;
  width: 296px;
  .wrapItem {
    @include flex(column, flex-start, center);
    gap: 32px;
    .wrapImg {
      @include flex(row, center, center);
      width: 296px;
      height: 252px;
      img {
        width: 296px;
        height: 252px;
        border-radius: 2px 8px 8px 2px;
        object-fit: cover;
      }
    }
    .wrapInfo {
      @include flex(column, space-between, center);
      width: 296px;
      .wrapText {
        @include flex(column, flex-start, center);
        gap: 24px;
        padding: 0;
      }
      .link {
        @include flex(row, flex-end, center);
        width: 100%;
        color: rgb(103, 103, 103);
        font-family: $font-main;
        font-size: 18px;
        font-weight: $font-weight-medium;
        line-height: 1.22;
        text-decoration: underline;
      }
    }
  }

  @include mobile {
    width: 356px;

    .wrapItem {
      .wrapImg {
        width: 356px;
        height: 304px;

        img {
          width: 356px;
          height: 304px;
        }
      }

      .wrapInfo {
        width: 356px;
      }
    }
  }

  @include tablet {
    width: 640px;
    gap: 48px;
    .wrapItem {
      @include flex(row, center, center);
      gap: 28px;
      .wrapImg {
        width: 306px;
        height: 336px;
        img {
          width: 306px;
          height: 336px;
        }
      }
      .wrapInfo {
        width: 306px;
        height: 336px;
        .wrapText {
          gap: 16px;
        }
      }
    }
  }
  @include deskmin {
    width: 980px;
    .wrapItem {
      .wrapImg {
        width: 476px;
        height: 400px;
        img {
          width: 476px;
          height: 400px;
        }
      }
      .wrapInfo {
        width: 476px;
        .wrapText {
          gap: 28px;
        }
        .link {
          font-size: 20px;
        }
      }
    }
  }
  @include deskmax {
    width: 1296px;
    gap: 72px;
    .wrapItem {
      gap: 134px;
      .wrapImg {
        width: 526px;
        height: 492px;
        img {
          width: 526px;
          height: 492px;
        }
      }
      .wrapInfo {
        width: 636px;
        .link {
          font-size: 24px;
        }
      }
    }
  }
}
