@import '@mixins';

.typeEdit {
  @include flex(column, null, null);
  color: black;
  margin: 65px auto 0 auto;

  @include tablet {
    width: 524px;
    margin: 36px 40px 0 208px;

    & > div:first-of-type {
      margin-top: 0;
    }
  }

  @include deskmin {
    width: 686px;
    margin: 36px auto;
  }

  @include deskmax {
    width: 986px;
    margin: 90px auto;
  }
}
