@import '@mixins';

.searchResults {
  padding: 0 12px;
  font-family: $font-main;
  font-size: $font-size-small;
  font-weight: $font-weight-base;
  color: $text-color-black;
  box-sizing: border-box;

  ul {
    @include flexGap(5px, column);
    margin-top: 10px;
    box-sizing: border-box;
  }

  .showAll {
    text-align: center;
    display: block;
    font-family: $font-second;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: 23.04px;
    color: #a2a2a2;
    transition: 0.6s;
    cursor: pointer;
    margin: 10px 0;

    &:hover {
      color: $text-color-black;
    }
  }
}
