@import '@mixins';

.imageUploadWrapper {
  .cropperContainerWrapper {
    @include flex(column);
    top: 0;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
    position: absolute;
    width: 280px;
    height: 545px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 42px 15px;
    box-sizing: border-box;

    h2 {
      font-family: Mulish;
      font-weight: 400;
      font-size: 24px;
      line-height: 136%;
      text-align: center;
      margin-bottom: 24px;
    }

    .cropperContainer {
      width: 225px;
      height: 252px;
      border-radius: 8px;

      // height: 400px;
      // width: 100%;
    }

    .buttonsWrapper {
      @include flexGap(16px, column);
      margin-top: 24px;
      width: 250px;
    }
  }

  img {
    width: 280px;
    height: 297px;
    border-radius: 8px;
  }

  label {
    @include flex();
    font-family: Mulish;
    font-weight: 700;
    font-size: 18px;
    line-height: 136%;
    height: 56px;
    width: 280px;
    border: 1px solid #22211f;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    border-radius: $border-radius-medium;
    transition:
      background-color 300ms ease-out,
      color 300ms ease-out;

    &:hover {
      background-color: $second-background-color-black;
      color: $text-color-light;
    }

    input {
      opacity: 0;
      height: 0;
      width: 0;
      position: absolute;
    }
  }
}

.croppedImageContainer {
  display: flex;

  div {
    position: relative;
    margin-right: 10px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 5px;
    }

    button {
      position: absolute;
      top: 5px;
      right: 5px;
      background: red;
      color: white;
      border: none;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
    }
  }
}

@include mobile {
  .imageUploadWrapper {
    img {
      width: 297px;
    }

    label {
      width: 297px;
    }
  }
}
