@import '@mixins';

.searchResultItem {
  a {
    display: flex;
    height: 75px;
    gap: 10px;
    text-decoration: none;
    color: inherit;

    img {
      width: 75px;
      height: 100%;
      aspect-ratio: 1 / 1;
    }

    .searchResultInfo {
      @include flex(column, space-between, null);
      .productName {
        font-family: $font-second;
        font-weight: $font-weight-base;
        font-size: $font-size-base;
        line-height: 15px;
        height: 48px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      p {
        display: block;
      }

      .productPrice {
        font-family: $font-main;
        font-size: $font-size-base;
        font-weight: $font-weight-small;
        line-height: 20.48px;
      }

      .hryvniaSymbol {
        height: 12px;
        width: 8px;
      }
    }
  }
}
