@import '@mixins';

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 75px;

  @include deskmin {
    height: 96px;
  }

  .mainWrapper {
    margin: 0 auto;
    @include flex(row, space-between, null);
    @include layout();
    & {
      padding: 21px $padding-mobile 0;
    }

    @include tablet {
      padding: 21px $padding-tablet 0;
    }

    @include deskmin {
      display: grid;
      grid-template-columns: 0.2fr auto 0.2fr;
      padding: 24px 21px 0 21px;
    }

    @include deskmax {
      padding: 24px 72px 0 72px;
    }

    .burgerWrapper {
      width: 64px;

      svg {
        cursor: pointer;
      }
    }

    i {
      cursor: pointer;
    }
  }
}

.inputtextarea {
  display: none;
}

.headerScrolled {
  // Option 1 of animation when header is scrolled
  background-color: $text-color-black;
  transition: 0.6s;
  nav {
    ul {
      li {
        color: #ffffff !important;

        &:hover {
          text-shadow: 0px 1px 2px 0px #0000004d !important;
        }
      }
    }
  }
}

.headerNotMainPage {
  position: static;
}
