@import '@mixins';

.catalogWrapper {
  @include flex(column, center, center);
  width: 100%;
  font-family: $font-main;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  line-height: 44.64px;
  color: $text-color-black;
  gap: 50px;
  box-sizing: border-box;

  h2 {
    text-align: center;
  }

  section {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 25px;

    section {
      @include flex();
    }

    figure {
      position: relative;
      img {
        width: 164px;
        height: 136px;
        border-radius: 2px;

        cursor: pointer;
        transition: 0.5s;
        &:hover {
          filter: brightness(1.7);
        }

        @include tablet {
          height: 186px;
          width: 216px;
        }

        @include deskmin {
          width: 308px;
          height: 245px;
        }

        @include deskmax {
          width: 415px;
          height: 352px;
        }
      }
      figcaption {
        @include flex();
        max-width: 85%;
        padding: 2px 10px;
        text-align: end;
        position: absolute;
        bottom: 32px;
        right: 0;
        box-sizing: border-box;
        background-color: #22211f;
        pointer-events: none;
        border-radius: 2px 0px 0px 2px;

        @include tablet {
          padding: 4px 10px;
        }

        @include deskmin {
          padding: 4px 10px 4px 10px;
        }
      }
    }
  }
}
