@import '@mixins';

.catalogWrapper {
  @include flex(column, center, center);
  width: 100%;
  font-family: $font-main;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  line-height: 44.64px;
  color: $text-color-black;
  gap: 50px;
  box-sizing: border-box;
  margin-top: 100px;

  h2 {
    text-align: center;
  }

  section {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 25px;

    section {
      @include flex();
    }

    figure {
      position: relative;
      img {
        width: 164px;
        height: 136px;
        border-radius: 2px;

        cursor: pointer;
        transition: 0.5s;
        &:hover {
          filter: brightness(1.7);
        }

        @include deskmim {
          width: 100%;
        }
      }
      figcaption {
        @include flex();
        max-width: 85%;
        padding: 2px 10px;
        text-align: end;
        position: absolute;
        bottom: 32px;
        right: 0;
        box-sizing: border-box;
        background-color: #22211f;
        pointer-events: none;

        @include deskmim {
          height: 44px;
          width: 240px;
        }
      }
    }
  }
}
