@import '@mixins';

.topSection {
  width: 100%;

  @include tablet {
    height: 254px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    box-sizing: border-box;
    gap: 37px;
  }

  @include deskmin {
    grid-template-columns: min-content 1fr min-content;
  }
}
