@import '@mixins';

.topSection {
  width: 100%;
  @include layout();

  & {
    padding-bottom: 0;
  }

  @include tablet {
    height: 254px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    gap: 37px;
  }

  @include deskmin {
    grid-template-columns: min-content 1fr min-content;
  }
}
