@import '@mixins';

.productList {
  font-family: Mulish;
  line-height: 136%;

  & > div:first-of-type {
    @include flexGap(8px);
    margin-bottom: 24px;

    p {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
    }

    p:nth-child(1) {
      width: 63px;
    }

    p:nth-child(2) {
      width: 67px;
    }

    p:nth-child(3) {
      width: 103px;
    }

    p:nth-child(4) {
      display: none;
    }
  }

  ul {
    @include flexGap(20px, column);
    color: black;
  }

  @include mobile {
    & > div:first-of-type {
      p {
        font-size: 18px;
      }
    }

    h3 {
      font-size: 16px;
    }
  }

  @include tablet {
    p:nth-child(4) {
      display: block;
    }
  }
}
