@import '@mixins';

.productList {
  font-family: Mulish;
  line-height: 136%;

  & > div:first-of-type {
    @include flexGap(8px);
    margin-bottom: 24px;

    p {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
    }

    p:nth-child(1) {
      width: 63px;
    }

    p:nth-child(2) {
      width: 67px;
    }

    p:nth-child(3) {
      width: 103px;
    }
  }

  ul {
    @include flexGap(20px, column);
    color: black;

    li {
      @include flex(row, start);
      gap: 8px;

      p {
        @include flex();
        width: 63px;

        img {
          height: 24px;
          width: 24px;
        }
      }

      a {
        width: 67px;

        img {
          height: 68px;
          width: 68px;
          border-radius: 8px;
        }
      }

      h3 {
        width: 103px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
      }
    }
  }

  @include mobile {
    & > div:first-of-type {
      p {
        font-size: 18px;
      }
    }

    h3 {
      font-size: 16px;
    }
  }
}
