@import '@mixins';

$mobile: 380px;
$tablet: 768px;
$deskmin: 1024px;
$deskmax: 1440px;

.wrapListReviewsCard {
  @include flexGap(32px, column);
  width: 356px;
  padding: 0;
  margin: 0 auto;
  ul {
    @include flexGap(32px, column);
    justify-content: flex-start;
  }
  @include tablet {
    width: 696px;
    ul {
      gap: 16px;
    }
  }
}
.wrapReviewsCard {
  @include flexGap(8px, column);
  box-sizing: border-box;
  width: 356px;
  border-top: 2px solid rgb(162, 162, 162);
  padding: 24px 0px;
  @include tablet {
    width: 696px;
    height: 194px;
    padding: 16px 0;
  }
}

.wrapTitleRating {
  @include flex(row, center, center);
  // h3 {
  //   color: rgb(0, 0, 0);
  //   font-family: $font-main;
  //   font-size: $font-size-medium;
  //   font-weight: $font-weight-medium;
  //   line-height: 1.22;
  // }
  // @include tablet {
  //   h3 {
  //     font-size: $font-size-base;
  //     line-height: 1.36;
  //     letter-spacing: 1.28px;
  //   }
  // }
  // @include deskmax {
  //   h3 {
  //     font-size: 20px;
  //     line-height: 1.22;
  //     letter-spacing: 0;
  //   }
  // }
}
.wrapRating {
  @include flex(row, flex-start, center);
  .arrStar {
    @include flex(row, flex-start, center);
    height: 24px;
    gap: 4px;
    padding: 0px;
    list-style: none;
    li {
      @include flex(row, center, center);
      width: 20px;
      height: 20px;
    }
  }
}
.wrapUser {
  @include flex(row, space-between, center);
  width: 100%;
  h3 {
    @include flex(row, flex-start, center);
    color: $header-link-hover-color;
    font-family: $font-main;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    line-height: 1.22;
    padding: 0;
    margin: 0;
  }
  p {
    @include flex(row, flex-end, center);
    color: rgb(162, 162, 162);
    font-family: $font-main;
    font-size: $font-size-small;
    font-weight: $font-weight-base;
    line-height: 1.44;
  }
  @include tablet {
    h3 {
      font-weight: $font-weight-medium;
      line-height: 1.36;
      letter-spacing: 1.28px;
    }
    p {
      line-height: 1.2;
    }
  }
  @include deskmax {
    h3 {
      font-size: $font-size-medium;
      line-height: 1.28;
      letter-spacing: 0;
    }
    p {
      font-size: $font-size-base;
      line-height: 1.28;
    }
  }
}
.wrapMessage {
  @include flex(row, flex-start, center);
  p {
    // @include flex(row, flex-start, flex-start);
    width: 100%;
    color: rgb(34, 33, 31);
    font-family: $font-second;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: 1.24;
  }
  @include tablet {
    p {
      height: 112px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 4px;
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #a2a2a2;
        border-radius: 4px;
        cursor: pointer;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    }
  }
}
.wrapReviewBtn {
  @include flex(row, center, center);
  gap: 12px;
  button {
    @include flex(row, center, center);
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    &:hover {
      svg {
        @include flex(row, center, center);
        rect {
          fill: rgb(34, 33, 31);
        }
        path {
          stroke: #ffffff;
        }
      }
    }
  }
}
