@import '@mixins';

// .wrapListReviewsCard {
//   @include flexGap(32px, column);
//   width: 356px;
//   padding: 0;
//   margin: 0 auto;
//   ul {
//     @include flexGap(32px, column);
//     justify-content: flex-start;
//   }
//   @include tablet {
//     width: 720px;
//     ul {
//       gap: 16px;
//     }
//   }
//   @include deskmin {
//     width: 960px;
//   }
//   @include deskmax {
//     width: 1296px;
//   }
// }
.wrapListReviewsCard {
  @include flex(column, flex-start, center);
  box-sizing: border-box;
  gap: 40px;
  width: 356px;
  .wrapList {
    @include flex(column, flex-start, center);
    // display: flex;
    // flex-wrap: wrap;
    // gap: 28px;
  }
  @include tablet {
    width: 640px;
  }
  @include deskmin {
    width: 980px;
  }
  @include deskmax {
    width: 1296px;
  }
}
.wrapReviewsCard {
  @include flexGap(8px, column);
  box-sizing: border-box;
  width: 356px;
  border-top: 2px solid rgb(162, 162, 162);
  padding: 24px 0px;
  @include tablet {
    width: 720px;
    height: 194px;
    padding: 16px 0;
  }
  @include deskmin {
    width: 960px;
    height: 168px;
  }
  @include deskmax {
    width: 1296px;
  }
}

.wrapTitleRating {
  @include flex(row, flex-start, center);
}
.wrapRating {
  @include flex(row, flex-start, center);
  .arrStar {
    @include flex(row, flex-start, center);
    height: 24px;
    gap: 4px;
    padding: 0px;
    list-style: none;
    li {
      @include flex(row, center, center);
      width: 20px;
      height: 20px;
    }
  }
}
.wrapUser {
  @include flex(row, space-between, center);
  width: 100%;
  p {
    @include flex(row, flex-end, center);
    color: rgb(162, 162, 162);
    font-family: $font-main;
    font-size: $font-size-small;
    font-weight: $font-weight-base;
    line-height: 1.44;
  }
}
.wrapMessage {
  @include flex(row, flex-start, center);
  p {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    color: rgb(34, 33, 31);
    font-family: $font-second;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: 1.24;
  }
  @include tablet {
    p {
      height: 116px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 4px;
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #a2a2a2;
        border-radius: 4px;
        cursor: pointer;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    }
  }
  @include deskmin {
    p {
      height: 80px;
    }
  }
}
.wrapReviewBtn {
  @include flex(row, center, center);
  gap: 12px;
  button {
    @include flex(row, center, center);
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    &:hover {
      svg {
        @include flex(row, center, center);
        rect {
          fill: rgb(34, 33, 31);
          transition: fill 0.5s ease;
        }
        path {
          stroke: #ffffff;
          transition: stroke 0.5s ease;
        }
      }
    }
  }
}
