@import '@mixins';

.footerTopSection {
  width: 100%;

  & {
    padding-bottom: 0;
  }

  @include tablet {
    height: 254px;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 37px;
  }

  @include deskmin {
    gap: 0;
    grid-template-columns: min-content 1fr min-content;
  }

  @include deskmax {
    max-width: 1296px;
  }

  .wrapper {
    @include flex(column, null, center);
    gap: 45px;

    @include mobile {
      @include flex(row, center, start);
    }

    @include tablet {
      gap: 0;
    }
  }
}
