@import '@mixins';

.list {
  @include flexGap(32px, column);
  color: black;
  margin-top: 32px;

  @include deskmin {
    margin-top: 50px;
    gap: 24px;
  }
  @include deskmax {
    margin-top: 56px;
  }
}