@import '@mixins';

.aside {
  @include flex(column, null, center);
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: $border-radius-small;
  padding: 34px 12px;
  height: fit-content;
  @include absolute();
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  @include showCloseAnimation('show', -100%);

  @include deskmin {
    width: 306px;
    padding: 34px 32px;
    position: static;
    animation: none;
  }

  &.hiddenAnimation {
    @include showCloseAnimation('close', -100%);
  }

  .topSection {
    @include flex(row, space-between);
    width: 354px;
    margin-bottom: 25px;
  }

  form {
    width: 354px;
  }

  .switchBox {
    user-select: none;
    li {
      @include flex(row, space-between, center);
      border-bottom: 1px solid #c0c0c0;
      padding-bottom: 15px;
      margin-bottom: 15px;
      width: 236px;
      text-align: left;

      span {
        font-family: $font-main;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        line-height: 23.04px;
        text-align: left;
        display: inline-block;
        width: 115px;
      }
    }
  }

  h4 {
    font-family: $font-main;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    line-height: 23.04px;
  }

  .checkboxesWrapper {
    margin-top: 45px;
    gap: 8px;
    @include flex(column, null, start);
    @include deskmin {
      max-width: 212px;
    }

    label {
      @include flex();
      user-select: none;
      cursor: pointer;

      p {
        font-family: $font-second;
        font-size: $font-size-base;
        font-weight: $font-weight-base;

        span {
          color: #a2a2a2;
        }
      }
    }
  }
}
