@import '@mixins';

.aside {
  @include flex(column, null, center);
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: $border-radius-small;
  padding: 34px 12px;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  height: 100vh;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  @include showCloseAnimation('show', -100%);

  @include deskmin {
    width: 308px;
    padding: 34px 32px;
    position: static;
    animation: none;
    overflow-y: hidden;
  }

  &.hiddenAnimation {
    @include showCloseAnimation('close', -100%);
  }

  .topSection {
    @include flex(row, space-between);
    width: 296px;
    max-width: 296px;
    margin-bottom: 25px;

    @include mobile {
      width: 356px;
      max-width: 356px;
    }

    @include deskmin {
      width: auto;
      max-width: none;
    }

    .clearFiltersButton {
      font-family: $font-main;
      font-weight: $font-weight-small;
      font-size: $font-size-base;
      line-height: 20.48px;
      text-decoration: underline;
      color: #c0c0c0;
    }
  }
}
