@import '@mixins';

.comments {
  @include flex(column, flex-start, center);
  box-sizing: border-box;
  gap: 15px;
  width: 296px;

  .btnSlider {
    @include flex(row, space-between, center);
    width: 100%;
    button {
      @include flex(row, center, center);
      border: none;
      outline: none;
      padding: 0;
      cursor: pointer;
      &:hover,
      &:active {
        svg {
          @include flex(row, center, center);
          rect {
            fill: rgb(34, 33, 31);
            transition: fill 0.5s ease;
          }
          path {
            stroke: #ffffff;
            transition: stroke 0.5s ease;
          }
        }
      }
      &:disabled {
        cursor: not-allowed;
        svg {
          @include flex(row, center, center);
          rect {
            fill: #f8f8f9;
            transition: fill 0.5s ease;
          }
          path {
            stroke: #22211f;
            transition: stroke 0.5s ease;
          }
        }
      }
    }
  }

  .wrapSlider {
    text-align: center;
    width: 296px;
    height: auto;
    .slider {
      display: flex;
      width: auto;
      padding: 0;
    }
  }

  @include mobile {
    width: 356px;

    .wrapSlider {
      width: 356px;
    }
  }

  @include tablet {
    width: 640px;
    gap: 20px;
    .wrapSlider {
      width: 640px;
    }
  }
  @include deskmin {
    width: 980px;

    .btnSlider {
      justify-content: end;
      gap: 20px;
    }
    .wrapSlider {
      width: 980px;
    }
  }
  @include deskmax {
    position: relative;
    width: 1296px;
    gap: 72px;
    .wrapSlider {
      width: 1134px;
    }
  }
}
