@import '@mixins';

.basketItem {
  @include flex(row, start, null);
  gap: 10px;
  list-style-type: none;
  margin-bottom: 10px;

  .basketItemImg {
    cursor: pointer;
    height: 126px;
    min-height: 126px;
    width: 100px;
    min-width: 100px;
  }

  h3 {
    font-family: $font-main;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    line-height: 23.04px;
  }

  .hryvniaIcon {
    height: 15px;
    width: 10px;
  }

  section:first-of-type {
    @include flex(column, space-between, null);
    width: 100%;

    .basketItemCounterAndDeleteSection {
      @include flex(row, space-between, center);

      section {
        @include flex(row, start, center);

        input {
          height: 32px;
          width: 48px;
          text-align: center;
          outline: none;
          padding: 0;
          border: none;
          border-bottom: 1px solid #a2a2a2;
          border-radius: $border-radius-small;

          // Delete arrows from input[number]
          /* Chrome, Safari, Edge, Opera */
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          /* Firefox */
          &[type='number'] {
            -moz-appearance: textfield;
            appearance: textfield;
          }
        }

        .countButton {
          @include flex();
          height: 24px;
          width: 24px;
          border: 0;
          padding: 0;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            background-color: #0c0c0d1a;
          }

          &:active {
            background-color: #22211f;

            svg {
              path {
                stroke: #f8f8f9;
              }
            }
          }

          svg {
            path {
              stroke: #22211f;
            }
          }
        }
      }
      .deleteButton {
        border: none;
        background-color: transparent;
        font-family: $font-main;
        font-size: $font-size-base;
        font-weight: $font-weight-small;
        line-height: 20.48px;
        padding: 0;
        color: #676767;
        border-bottom: 1px solid #676767;

        &:hover {
          color: #7e57c2;
          border: none;
        }
      }
    }
  }
}
