@import '@mixins';

.h2 {
  font-family: $font-main;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  line-height: 44.64px;
  color: $text-color-black;
  text-align: center;

  @include respond-medium {
    font-size: 32px;
    font-weight: $font-weight-medium;
    line-height: 36.68px;
  }
}
