@import '@mixins';

.wrapPrice {
  @include flex(row, flex-start, center);
  width: auto;
  height: 34px;
  gap: 16px;
  .price {
    @include flex(row, flex-start, center);
    color: $text-color-black;
    font-family: $font-main;
    font-size: $font-size-medium-extra;
    line-height: 1.24;
    text-align: left;
    gap: 8px;
    .costNow {
      font-weight: 500;
    }
    .hrnBlack {
      font-weight: 400;
    }
  }
  .oldPrice {
    @include flex(row, flex-start, center);
    color: rgb(103, 103, 103);
    font-family: $font-main;
    font-size: $font-size-base;
    font-weight: 500;
    line-height: 1.28;
    text-align: left;
    gap: 8px;
    .costOld {
      text-decoration-line: line-through;
      font-weight: 500;
    }
    .hrnGrey {
      font-weight: 400;
    }
  }
  @include tablet {
    .oldPrice {
      font-size: $font-size-medium;
    }
  }
  @include deskmax {
    .price {
      letter-spacing: 0.08;
    }
  }
}
