@import '@mixins';

.mapContainer {
  touch-action: none;
  margin-top: 75px;
  height: 68vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  img:first-of-type {
    object-fit: cover;
    width: 770px;

    @include tablet {
      width: 900px;
    }

    @include deskmin {
      width: 1471px;
    }

    @include deskmax {
      height: 997px;
    }
  }

  .point {
    height: 32px;
    width: 32px;
    cursor: pointer;

    &:hover {
      width: 40px;
      height: 40px;
      transform: translateY(-20%) translateX(-10%);
    }
  }

  .lvivPoint {
    @include absolute(153px, 81px);

    @include tablet {
      @include absolute(182px, 95px);
    }

    @include deskmin {
      @include absolute(300px, 153px);
    }

    @include deskmax {
      @include absolute(300px, 153px);
    }
  }

  .lytskPoint {
    @include absolute(72px, 122px);

    @include tablet {
      @include absolute(86px, 145px);
    }

    @include deskmin {
      @include absolute(143px, 243px);
    }

    @include deskmax {
      @include absolute(143px, 243px);
    }
  }

  .ternopilPoint {
    @include absolute(155px, 147px);

    @include tablet {
      @include absolute(204px, 186px);
    }

    @include deskmin {
      @include absolute(329px, 298px);
    }

    @include deskmax {
      @include absolute(329px, 298px);
    }
  }

  .ivanoFrankivskPoint {
    @include absolute(230px, 111px);

    @include tablet {
      @include absolute(269px, 136px);
    }

    @include deskmin {
      @include absolute(439px, 223px);
    }

    @include deskmax {
      @include absolute(439px, 223px);
    }
  }

  .vinnitsaPoint {
    @include absolute(197px, 278px);

    @include tablet {
      @include absolute(245px, 330px);
    }

    @include deskmin {
      @include absolute(414px, 538px);
    }

    @include deskmax {
      @include absolute(414px, 538px);
    }
  }
}
