@import '@mixins';

.card {
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  color: $text-color-black;

  .cardHeader {
    position: relative;

    .cardImage {
      width: 100%;
    }
  }

  .cardTitle {
    font-family: $font-main;
    height: 40px;
    font-size: 20px;
    font-weight: $font-weight-medium;
    line-height: $line-height-base;
    margin-top: 20px;
    text-wrap: balance;
    padding-right: 10px;
    margin-bottom: 20px;
  }

  .cardFooter {
    @include flex(row, space-between, center);
    margin-top: 30px;
    position: relative;

    h3 {
      @include flexGap(8px);
      font-family: $font-main;
      font-size: 24px;
      font-weight: $font-weight-bold;
      line-height: 28.8px;
      letter-spacing: $letter-spacing-base;

      .oldPrice {
        @include flex();
        text-decoration: line-through;
        gap: 10px;
        font-family: $font-main;
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        line-height: 21.6px;
        letter-spacing: $letter-spacing-base;
        color: #a2a2a2;
        margin-left: 15px;
      }
    }

    h4 {
      font-family: $font-main;
      font-size: 20px;
      font-weight: $font-weight-base;
      line-height: $line-height-base;
      letter-spacing: $letter-spacing-base;
    }
  }

  button {
    background-color: $second-background-color-black;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    font-family: $font-main;
    font-size: 20px;
    font-weight: $font-weight-medium;
    line-height: $line-height-base;
    color: $text-color-light;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    transition:
      0.3s ease-out background-color,
      0.3s ease-out color;

    &:hover {
      background-color: $text-color-light;
      color: $text-color-black;
      border: 2px solid $second-background-color-black;
    }
  }
  .space {
    width: 100%;
    height: 86px;
  }
}
