@import '@mixins';

.payment {
  @include flexGap(16px, column);

  & > div:first-of-type {
    @include flex(row, space-between);
    width: 100%;
    border-bottom: 1px solid #000000;
    padding-block: 16px;
  }

  div:nth-of-type(2) {
    @include flexGap(12px, column);
  }

  div:nth-of-type(3) {
    @include flexGap(12px, column);

    & > label {
      @include flexGap(4px);
      align-items: center;
      position: relative;
      border-radius: 8px;
      cursor: pointer;
      padding: 4px 8px;
      border: 1px solid;

      &.error {
        border: 1px solid #e31a1a;
      }

      &:has(input:checked) {
        background-color: #ededed;
      }

      input {
        position: absolute;
        opacity: 0;
      }

      div {
        @include flexGap(4px, column);
      }

      img {
        height: 52px;
        width: 52px;
      }
    }

    & > p {
      color: #e31a1a;
    }
  }

  button {
    margin-top: 8px;
    height: 46px;
  }

  @include tablet {
    div:nth-of-type(3) {
      gap: 24px;

      & > label {
        gap: 12px;
        width: auto;
        padding: 6px 12px;

        div {
          gap: 12px;
        }
      }
    }

    button {
      width: 306px;
      height: 56px;
    }
  }

  @include deskmin {
    div:first-of-type {
      width: 412px;
    }
  }

  @include deskmax {
    gap: 24px;

    div:first-of-type {
      width: 637px;
    }

    div:nth-of-type(3) {
      & > label {
        gap: 30px;
        padding: 12px 24px;

        img {
          height: 56px;
          width: 56px;
        }
      }
    }
  }
}
