.novaPost {
  color: black;
  display: flex;
  flex-direction: column;

  input {
    width: 500px;
  }
}

.warehouses,
.settlement {
  ul {
    width: fit-content;
    max-height: 250px;
    overflow-y: auto;
  }
}
