.novaPost {
  color: black;
  display: flex;
  flex-direction: column;
}

.warehouses,
.settlement {
  ul {
    display: none;
    width: fit-content;
    max-height: 250px;
    overflow-y: auto;
  }

  input {
    width: 500px;
  }

  &:focus-within ul {
    display: block;
  }
}
