@import '@mixins';

.button {
  @include flex(row, center, center);
  font-family: $font-main;
  font-weight: $font-weight-medium;
  line-height: $line-height-base;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  border-radius: 8px;
  transition: 300ms ease-out all;
}

// Buttons purposes
.default {
  width: 100%;
  height: 56px;
  font-size: $font-size-medium;
}

.fitContent {
  width: fit-content;
}

// Buttons variants
.primary {
  background-color: $second-background-color-black;
  color: white !important;
  border: 2px solid $second-background-color-black;

  &:hover {
    background-color: transparent;
    color: $text-color-black !important;
  }
}

.secondary {
  border: 2px solid #000000;
  background-color: transparent;

  &:hover {
    background-color: $second-background-color-black;
    color: $text-color-light;
  }
}

.link {
  color: $text-color-black;
  text-decoration: underline;
  background: none;
  border: none;
  font-size: 20px;

  &:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
}

.banner {
  height: 77px;
  width: 331px;
  background-color: $second-background-color-black;
  color: $text-color-light;
  font-size: 24px;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-base;
  border: none;
}
