@import '@mixins';

.button {
  @include flex(row, center, center);
  font-family: $font-main;
  font-weight: $font-weight-medium;
  line-height: $line-height-base;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  border-radius: 8px;
  transition:
    300ms ease-out background-color,
    300ms ease-out color;
}

// Buttons purposes
.default {
  width: 100%;
  height: 56px;
  font-size: $font-size-medium;
}

.fitContent {
  width: fit-content;
}

// Buttons variants
.primary {
  background-color: $second-background-color-black;
  color: white;
  border: 2px solid $second-background-color-black;

  &:hover {
    background-color: transparent;
    color: $text-color-black;
  }
}

.secondary {
  border: 2px solid #000000;
  background-color: transparent;

  &:hover {
    background-color: $second-background-color-black;
    color: $text-color-light;
  }
}

.link {
  color: $text-color-black;
  text-decoration: underline;
  background: none;
  border: none;
  font-size: 20px;

  &:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
}

.banner {
  width: 331px;
  height: 54px;
  background-color: $second-background-color-black;
  color: $text-color-light;
  font-size: 18px;
  font-weight: $font-weight-medium;
  border: none;

  @include tablet {
    height: 58px;
    width: 241px;
    font-weight: $font-weight-bold;
    line-height: $letter-spacing-base;
    letter-spacing: $letter-spacing-base;
    color: $text-color-light;
  }

  @include deskmax {
    height: 77px;
    font-size: 24px;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-base;
  }
}

.navDrawer {
  width: 100%;
  height: 46px;
  font-size: $font-size-medium;
  border: none;
  background: transparent;

  &:hover {
    color: $text-color-light;
    background-color: #676767;
  }
}
