@import '@mixins';

.wrapArticle {
  @include flex(row, space-between, center);
  color: #676767;
  font-family: $font-second;
  font-size: $font-size-small;
  font-weight: $font-weight-base;
  line-height: 1.44;
  .wrapAvaible {
    @include flex(row, flex-start, center);
    gap: 4px;
    .green {
      display: flex;
      width: 8px;
      height: 8px;
      border-radius: $border-radius-circle;
      background-color: #009721;
    }
    .gray {
      display: flex;
      width: 8px;
      height: 8px;
      border-radius: $border-radius-circle;
      background-color: #676767;
    }
  }
  @include tablet {
    font-size: $font-size-base;
    line-height: 1.24;
  }
}
