@import '@mixins';

.commentCard {
  @include flex(column, flex-start, flex-start);
  box-sizing: border-box;
  width: 296px;
  gap: 28px;

  .wrapReview {
    @include flex(column, flex-start, flex-start);
    gap: 8px;

    p {
      // text-align: left;
      text-align: justify;
      width: 100%;
      height: 100px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      line-clamp: 5;
    }
  }

  .cardFooter {
    @include flex(row, space-between, end);
    width: 100%;

    a {
      font-family: $font-main;
      font-size: $font-size-medium;
      font-weight: $font-weight-medium;
      line-height: $line-height-base;
      text-decoration: underline;
      color: $text-color-black;
    }

    h4 {
      text-align: start;
    }
  }

  @include mobile {
    width: 356px;
  }

  @include tablet {
    width: 320px;
    padding: 0 16px 0 16px;
    gap: 24px;

    .wrapReview {
      gap: 16px;

      p {
        width: 288px;
        height: 88px;
      }
    }

    .cardFooter {
      width: 288px;
    }
  }

  @include deskmin {
    width: 326px;
    padding: 0 18px 0 18px;
    gap: 24px;

    .wrapReview {
      gap: 16px;

      p {
        width: 290px;
        height: 100px;
      }
    }

    .cardFooter {
      width: 290px;
    }
  }

  @include deskmax {
    width: 378px;
    padding: 0 28px 0 28px;
    gap: 24px;

    .wrapReview {
      gap: 16px;
      p {
        width: 322px;
      }
    }

    .cardFooter {
      width: 322px;

      a {
        font-size: $font-size-medium-plus;
      }
    }
  }
}
