@import './variables.scss';

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexGap($gap, $flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  gap: $gap;
}

@mixin absolute($top: 0px, $left: 0px) {
  position: absolute;
  top: $top;
  left: $left;
}

// responsives
@mixin respond-medium {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin respond-small {
  @media (max-width: 380px) {
    @content;
  }
}
@mixin respond-s {
  @media (max-width: 720px) {
    @content;
  }
}

// example
// @import '~/mixins.scss'
// .modal {
//     @include flex(column, center, center);
//     height: 100vh;
// }
