// Color Variables
$primary-color: #3498db; // Primary theme color
$header-link-color: #22211f; // Header link color
$header-link-hover-color: #000000; // Header link hover color
$background-color-light: #ffffff; // Light background color
$background-color-black: #000000; // Black background color
$second-background-color-black: #22211f; // Second background color black
$text-color-light: #ffffff; // Light text color
$text-color-black: #22211f; // Black text color

// Font Variables
$font-main: 'Oswald', sans-serif; // Main font for the application
$font-second: 'Lora', sans-serif; // Second font for the application
$font-family-base: $font-main, system-ui, Avenir, Helvetica, Arial, sans-serif; // Base font family

// Font Sizes
$font-size-xlarge: 56px; // Extra large
$font-size-large: 36px; // Large
$font-size-medium: 18px; // Medium
$font-size-base: 16px; // Base
$font-size-small: 14px; // Small

// Line height
$line-height-base: 24.48px; // Base line height
$line-height-small: 16.24px; // Small line height

// Font weight
$font-weight-base: 400; // Base font weight
$font-weight-medium: 500; // Medium font weight
$font-weight-bold: 700; // Bold font weight

// Letter spacing
$letter-spacing-base: 0.08em; // Base
$letter-spacing-small: 0.04em; // Small
$letter-spacing-extra-small: -0.02em; // Extra small

// Spacing & Dimensions
$border-radius: 4px; // Base border radius for elements
$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1); // Light box shadow for elements

// Miscellaneous
$font-smoothing: antialiased; // Font smoothing for better rendering
$moz-font-smoothing: grayscale; // Font smoothing for Firefox

// transition: border 200ms linear;
