@import '@mixins';

.cooperationPage {
  margin-inline: auto;
  width: 320px;
  margin-top: 90px;
  box-sizing: border-box;
  padding-inline: 12px;

  @include mobile {
    width: 380px;
  }

  @include tablet {
    margin-top: 110px;
    width: 768px;
    padding-inline: 64px;
  }

  @include deskmin {
    width: 1024px;
    margin-top: 120px;
    padding-inline: 22px;
  }

  @include deskmax {
    width: 1440px;
    padding-inline: 72px;
  }
}
