@import '@mixins';

.cooperationPage {
  @include flexGap(40px, column);
  margin-inline: auto;
  width: 320px;
  margin-top: 90px;
  box-sizing: border-box;

  @include mobile {
    width: 380px;
  }

  @include tablet {
    gap: 80px;
    margin-top: 110px;
    width: 768px;
  }

  @include deskmin {
    gap: 100px;
    width: 1024px;
    margin-top: 120px;
  }

  @include deskmax {
    width: 1440px;
  }
}
