@import '@mixins';

.wrapperInput {
  @include flexGap(24px, column);
  width: 100%;
  padding-top: 71px;

  label {
    @include flexGap(16px, column);
    position: relative;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 136%;
    justify-content: space-between;

    input {
      width: 280px;
    }
  }
}

@include tablet {
  .wrapperInput {
    width: 523px;
    gap: 48px;

    label {
      flex-direction: row;
      font-size: 24px;
      align-items: center;

      input {
        height: 56px;
      }
    }
  }
}

@include deskmin {
  .wrapperInput {
    width: 683px;
  }
}

@include deskmax {
  .wrapperInput {
    width: 778px;
  }
}
