@import '@mixins';

.logoSection {
  @include flex(column, null, center);

  @include tablet {
    @include flex(column, null, start);
    gap: 30px;
    width: 234px;
  }

  ul {
    @include flexGap(24px);
    margin-top: 16px;
  }
}
