@import '@mixins';

.typeCreate {
  @include flex(column, null, null);
  color: black;
  margin-top: 40px;

  @include tablet {
    width: 524px;
  }

  @include deskmin {
    width: 686px;
  }

  @include deskmax {
    width: 986px;
  }
}
